/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** clean-header start **/

#clean-header {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-header {
  font-family: "Cairo", sans-serif;
  background-color: var(--btn-color);
  color: var(--tints-10);
  direction: rtl;
  height: 143px;
}

#clean-header .container {
  padding: 0 !important;
}

#clean-header .content {
  width: 100%;
}

#clean-header .upperbody {
  font-size: 15px;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
  direction: ltr;
  height: 50px;
}

#clean-header .upperbody .upperbody-link {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

#clean-header .upperbody:hover .upperbody-link {
  animation-play-state: paused;
}

#clean-header .upperbody .upperbody-link .upperbody-txt {
  color: var(--tints-10);
  margin: 0;
}

#clean-header .lowerbody {
  background-color: var(--sec-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93px;
}

#clean-header .lowerbody .logo-heading {
  color: var(--shades-10);
  margin: 0;
}

@media only screen and (max-width: 767px) {
  #clean-header .upperbody {
    --gap: 40px;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/** clean-header end **/

/** clean-hero start **/

#clean-hero {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-hero {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  background-color: var(--tints-10);
}

#clean-hero .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#clean-hero .content {
  padding: 30px 17.5px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;

}

#clean-hero .hero-img,
#clean-hero .hero-content {
  width: 50%;
}

#clean-hero .hero-img {
  aspect-ratio: 1;
  overflow: hidden;
  padding: 5px 0;
}

#clean-hero .hero-img img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  transition: opacity 0.11s ease;
  opacity: 1;
}

#clean-hero .hero-img img.fade-out {
  opacity: 0;
}

#clean-hero .hero-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

#clean-hero .hero-content .hero-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

#clean-hero .hero-content .hero-txt-heading {
  margin: 0;
  color: var(--btn-color);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}

#clean-hero .hero-content .hero-txt-paragraph {
  margin: 0;
  color: var(--btn-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  max-width: 470px;
}

#clean-hero .hero-cta-container {
  margin: 2px 0;
}

#clean-hero .hero-cta-container .buy-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--btn-color);
  text-decoration: none;
  color: var(--main-bg-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.33s ease;
}

#clean-hero .hero-cta-container .buy-cta[data-active_hover]  {
  background-color: var(--sec-bg-color);
  color: var(--btn-color);
}

#clean-hero .hero-clean-benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#clean-hero .hero-clean-benefit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#clean-hero .hero-clean-benefit-logo {
  width: 37px;
  height: 37px;
  overflow: hidden;
  padding: 3px;
}

#clean-hero .hero-clean-benefit-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#clean-hero .hero-clean-benefit-txt {
  margin: 0;
  color: var(--btn-color);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3;
}

#clean-hero .hero-img-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#clean-hero .hero-img-carousel-img {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 5px;
  border: 0.65px solid transparent;
  cursor: pointer;
}

#clean-hero .hero-img-carousel-img.active {
  border-color: #014035;
}

#clean-hero .hero-img-carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (min-width: 1280px) {
  #clean-hero .hero-content .hero-txt-heading {
    font-size: 58px;
  }
}

@media only screen and (max-width: 1020px) {
  #clean-hero {
    padding: 0 0 35px;
  }

  #clean-hero .container {
    padding: 0;
  }

  #clean-hero .content {
    flex-direction: column;
    padding: 0px 0 30px;
  }

  #clean-hero .hero-img,
  #clean-hero .hero-content {
    width: 100%;
  }

  #clean-hero .hero-content {
    padding: 0 16px;
  }

  #clean-hero .hero-img {
    height: 534px;
    padding: 0;
  }

  #clean-hero .hero-img img {
    border-radius: 0;
  }

  #clean-hero .hero-content .hero-txt-heading {
    font-size: 57px;
  }

  #clean-hero .hero-content .hero-txt-paragraph {
    max-width: 600px;
    font-size: 14px;
  }

  #clean-hero .hero-cta-container,
  #clean-hero .hero-cta-container .buy-cta {
    width: 100%;
  }


  #clean-hero .hero-clean-benefits {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  #clean-hero .hero-clean-benefit-txt {
    font-size: 11px;
  }
}

@media only screen and (max-width: 767px) {
  #clean-hero .hero-content .hero-txt-heading {
    font-size: 37px;
  }

  #clean-hero .hero-clean-benefits {
    grid-template-columns: repeat(2, 1fr);
  }
}

/** clean-hero end **/

/** clean-catalogue start **/

#clean-form {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-form {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  background-color: var(--tints-10);
}

#clean-form .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#clean-form .content {
  padding: 30px 17.5px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

#clean-form .catalogue-content {
  flex: 2;
  background-color: var(--main-bg-color);
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}

#clean-form .time-form,
#clean-form .form-clean,
#clean-form .timeleft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

#clean-form .form-heading {
  width: 100%;
  text-align: right;
}

#clean-form .time-form {
  width: 100%;
}

#clean-form .timeleft .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

#clean-form .timeleft .timeleft-heading-txt,
#clean-form .timeleft .timer p {
  margin: 0;
  color: var(--btn-color);
}

#clean-form .timeleft .timeleft-heading-txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

#clean-form .timeleft .timer>div {
  background-color: #EBE2DE;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
}

#clean-form .timeleft .timer .minutes-wrapper {
  position: relative;
}

#clean-form .timeleft .timer .minutes-wrapper::before {
  content: ":";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-21px) translateY(-60%);
  font-size: 70px;
  color: var(--shades-10);
}

#clean-form .timeleft .timer .minutes-wrapper::after {
  content: ":";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(21px) translateY(-60%);
  font-size: 70px;
  color: var(--shades-10);
}

#clean-form .timeleft .timer .time-digits {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  color: var(--btn-color);
}

#clean-form .timeleft .timer .time-txt {
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  color: var(--btn-color);
}

#clean-form .form-clean {
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

#clean-form .form-clean .ouasl_field-radios,
#clean-form .form-clean .ouasl_field-checkbox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#clean-form .form-clean .option-description-title {
  margin: 0;
  color: var(--btn-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

#clean-form .ouasl_field-radios label.radio,
#clean-form .ouasl_field-checkbox label.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  border: 1px solid #00382B;
  border-radius: 14px;
  background-color: var(--tints-10);
  color: var(--shades-10);
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

#clean-form .ouasl_field-radios label.radio.active .ouasl_field-title,
#clean-form .ouasl_field-checkbox label.radio.active .ouasl_field-title {
  color: var(--btn-color);
  font-weight: 700;
}

#clean-form .ouasl_field-radios label.radio input[type="radio"],
#clean-form .ouasl_field-checkbox label.radio input[type="checkbox"] {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}

#clean-form .ouasl_field-radios label.radio input::before,
#clean-form .ouasl_field-checkbox label.radio input::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: none;
  outline: 2px solid var(--btn-color);
  border-radius: 50%;
}

#clean-form .ouasl_field-checkbox label.radio input[type="checkbox"]::before {
  border-radius: 0;
}

#clean-form .ouasl_field-radios label.radio input::after,
#clean-form .ouasl_field-checkbox label.radio input::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}


#clean-form .ouasl_field-checkbox label.radio input[type="checkbox"]::after {
  border-radius: 0;
}

#clean-form .ouasl_field-radios label.radio input:checked::before,
#clean-form .ouasl_field-checkbox label.radio input:checked::before {
  outline-color: var(--btn-color);
}

#clean-form .ouasl_field-radios label.radio input:checked::after,
#clean-form .ouasl_field-checkbox label.radio input:checked::after {
  background-color: var(--btn-color);
}

#clean-form .form-clean .form-heading-txt {
  margin: 0;
  color: var(--btn-color);
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
}

#clean-form .form-clean label .ouasl_field-title {
  color: var(--btn-color);
  font-weight: 500;
  font-size: 15px;
}

#clean-form .form-clean label.text,
#clean-form .form-clean label.email,
#clean-form .form-clean label.tel,
#clean-form .form-clean label.number,
#clean-form .form-clean label.select,
#clean-form .form-clean label.date,
#clean-form .form-clean label.textarea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: calc(50% - 7.5px);
}

#clean-form .form-clean label.textarea {
  width: 100%;
}

#clean-form .form-clean label textarea {
  width: 100%;
  resize: vertical;
}

#clean-form .form-clean label input,
#clean-form .form-clean label select {
  direction: rtl;
  width: 100%;
}

#clean-form .form-clean label input,
#clean-form .form-clean label textarea,
#clean-form .form-clean label select {
  padding: 16px;
  border: 1px solid var(--btn-color);
  border-radius: 12px;
  background-color: transparent;
  box-sizing: border-box;
}

#clean-form .form-clean label select {
  padding: 8px 16px;
}

#clean-form .form-clean label input::placeholder {
  color: #7D7B7A;
}

#clean-form .form-clean .button-cta {
  width: 100%;
}

#clean-form .form-clean .submit-form-btn {
  background-color: var(--btn-color);
  color: var(--tints-10);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  transition: all 0.33s ease;
}

#clean-form .form-clean .submit-form-btn[data-active_hover]  {
  background-color: var(--sec-bg-color);
  color: var(--btn-color);
}

#clean-form .catologue-options,
#clean-form .catologue-options-selection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

#clean-form .catologue-options-selection .catologue-options-txt {
  margin: 0;
  color: var(--btn-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

#clean-form .main-img {
  overflow: hidden;
  flex: 1;
  padding: 5px 0;
}

#clean-form .main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

@media screen and (max-width: 1200px) {
  #clean-form .main-img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #clean-form .content {
    padding: 30px 0px;
  }

  #clean-form .catalogue-content {
    padding: 30px 15px;
  }

  #clean-form .time-form {
    width: 100%;
  }

  #clean-form .form-clean .ouasl_field-radios {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    padding: 20px 0;
  }
}

/** clean-catalogue end **/

/** clean-benefits start **/

#clean-benefits {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-benefits {
  font-family: "Cairo", serif;
  direction: rtl;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: var(--tints-10);
}

#clean-benefits .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--btn-color);
  border-radius: 26px;
  overflow: hidden;
}

#clean-benefits .benefits-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 100px 0px;
}

#clean-benefits .benefits-cards .benefits-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

#clean-benefits .benefits-cards .icon-illustration {
  background-color: #3A3634;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px 0;
}

#clean-benefits .benefits-cards .icon-illustration img {
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#clean-benefits .benefits-cards .benefits-card-descriptive {
  margin: 0 auto;
  color: var(--tints-10);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  max-width: 256px;
}

@media screen and (max-width: 1020px) {
  #clean-benefits .benefits-cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0px;
    gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  #clean-benefits {
    padding: 30px 15px;
  }

  #clean-benefits .container .content {
    padding: 30px 0;
  }

  #clean-benefits .heading-content .main-heading {
    font-size: 30px;
    max-width: 190px;
  }
}

/** clean-benefits end **/

/** clean-testemonials start **/

#clean-testemonials {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-testemonials {
  font-family: "Cairo", serif;
  direction: rtl;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: var(--tints-10);
}

#clean-testemonials .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#clean-testemonials .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

#clean-testemonials .content .card,
#clean-testemonials .content .card .card-txt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#clean-testemonials .content .main-img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  padding: 3px;
}

#clean-testemonials .content .main-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#clean-testemonials .content .card-txt .name-city-heading {
  margin: 0;
  color: var(--btn-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.64;
}

#clean-testemonials .content .card-txt-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#clean-testemonials .content .card-txt-rating-star {
  padding: 5px 0;
}

#clean-testemonials .content .card-txt-feedback {
  margin: 0;
  color: var(--btn-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.64;
  text-align: center;
}

#clean-testemonials .content .avatar-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

#clean-testemonials .content .avatar-img {
  aspect-ratio: 3/2;
  max-width: 128px;
  max-height: 85px;
  overflow: hidden;
  padding: 5px 0;
}

#clean-testemonials .content .avatar-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1020px) {
  #clean-testemonials .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 767px) {
  #clean-testemonials {
    padding: 30px 0px;
  }
}

/** clean-testemonials end **/

/** clean-cta start **/

#clean-cta {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-cta {
  font-family: "Cairo", serif;
  direction: rtl;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: var(--tints-10);
}

#clean-cta .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#clean-cta .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border-radius: 25px;
  background-color: var(--main-bg-color);
  aspect-ratio: 3/1;
}

#clean-cta .content .cta-heading {
  margin: 0;
  font-size: 43px;
  font-weight: 700;
  line-height: 1.64;
  text-align: center;
  color: var(--btn-color);
}

#clean-cta .content .buy-cta {
  background-color: var(--btn-color);
  border-radius: 10px;
  color: #FFF8F5;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  padding: 20px;
  display: block;
  transition: all 0.33s ease;
}

#clean-cta .content .buy-cta[data-active_hover]  {
  background-color: var(--sec-bg-color);
  color: var(--btn-color);
}

@media screen and (max-width: 767px) {
  #clean-cta {
    padding: 30px 0;
  }

  #clean-cta .content {
    padding: 50px 0;
    gap: 25px;
    /* aspect-ratio: 3/2; */
  }

  #clean-cta .content .cta-heading {
    font-size: 25px;
  }
}

/** clean-cta end **/

/** clean-footer start **/

#clean-footer {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-footer {
  font-family: "Cairo", serif;
  direction: rtl;
  box-sizing: border-box;
  background-color: var(--sec-bg-color);
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#clean-footer .footer-logo {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

#clean-footer .footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** clean-footer end **/