/** css rules start **/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/** css rules end **/

/** saasagency-pricing start **/

#saasagency-pricing {
  --main-color: #6140ef;

  --shades-1: #573ad7;
  --shades-2: #4e33bf;
  --shades-3: #442da7;
  --shades-4: #3a268f;
  --shades-5: #312078;
  --shades-6: #271a60;
  --shades-7: #1d1348;
  --shades-8: #130d30;
  --shades-9: #0a0618;
  --shades-10: #000000;

  --tints-1: #7153f1;
  --tints-2: #8166f2;
  --tints-3: #9079f4;
  --tints-4: #a08cf5;
  --tints-5: #b0a0f7;
  --tints-6: #c0b3f9;
  --tints-7: #d0c6fa;
  --tints-8: #dfd9fc;
  --tints-9: #efecfd;
  --tints-10: #ffffff;

  --secondary-color: #77ff77;
  --third-color: #04050a;
  --fourth-color: #15151d;

  font-family: "Cairo", sans-serif;
  background-color: var(--third-color);
  color: var(--tints-10);
  box-sizing: border-box;
}

#saasagency-pricing .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#saasagency-pricing .content {
  padding: 60px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 84px;
}

#saasagency-pricing .header-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 453px;
  text-align: center;
}

#saasagency-pricing .header-container .header-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

#saasagency-pricing .header-container .header-subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.41;
  color: #B4B4B4;
  margin: 0;
}

#saasagency-pricing .plans-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
}

#saasagency-pricing .plans-container .plan-container {
  background-color: #0c0d12;
  border: 1px solid #f5f5f521;
  border-radius: 13px;
  position: relative;
  padding: 30px 33px;
  box-sizing: border-box;
}

#saasagency-pricing .plans-container .plan-container:first-of-type {
  flex: 2.4;
}

#saasagency-pricing .plans-container .plan-container:last-of-type {
  flex: 1.8;
}

#saasagency-pricing .plan-features-container {
  padding-bottom: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 60px;
}

#saasagency-pricing .plan-features-container .plan-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#saasagency-pricing .plan-container .plan-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.41;
  margin: 0;
}

#saasagency-pricing .plan-price-container .price-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

#saasagency-pricing .plan-price-container .price-details-container .price-amount {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

#saasagency-pricing .plan-price-container .price-details-container .price-unit,
#saasagency-pricing .plan-price-container .payement-frequency,
#saasagency-pricing .features-list-container .features-title,
#saasagency-pricing .features-list-container .features-subtitle,
#saasagency-pricing .features-list-container .feature-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.41;
  margin: 0;
}

#saasagency-pricing .plan-price-container .payement-frequency {
  font-size: 16px;
}

#saasagency-pricing .features-list-container .features-title {
  font-size: 18px;
}

#saasagency-pricing .features-list-container .features-header-container {
  margin-bottom: 30px;
}

#saasagency-pricing .features-list-container .features-title {
  font-weight: 700;
}

#saasagency-pricing .features-list-container .features-subtitle {
  margin-top: 10px;
  color: #b4b4b4;
  font-weight: 600;
}

#saasagency-pricing .features-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#saasagency-pricing .feature-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#saasagency-pricing .feature-item-container .feature-icon {
  padding: 3px;
}

#saasagency-pricing .features-list-container .feature-text {
  color: var(--tints-10);
}

#saasagency-pricing .plan-container .divider-container {
  position: absolute;
  right: 0;
  bottom: 135px;
  width: 100%;
  height: 1px;
  background-color: #ffffff26;
}

#saasagency-pricing .plan-container .buy {
  display: block;
  text-align: center;
  margin-top: 60px;
  width: 100%;
  padding: 18.5px 0;
  color: var(--tints-10);
  border: none;
  background-color: var(--main-color);
  border: 1px solid #ffffff38;
  border-radius: 13px;
  font-size: 14px;
  line-height: 12px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  #saasagency-pricing .content {
    padding: 60px 25px;
  }

  #saasagency-pricing .plans-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  #saasagency-pricing .plans-container .plan-container {
    flex: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #saasagency-pricing .content {
    padding: 25px 0px;
  }

  #saasagency-pricing .plans-container .plan-container {
    padding: 30px 15px;
  }
}

/** saasagency-pricing end **/