/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** clean-header start **/

#clean-header {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-header {
  font-family: "Cairo", sans-serif;
  background-color: var(--btn-color);
  color: var(--tints-10);
  direction: rtl;
  height: 143px;
}

#clean-header .container {
  padding: 0 !important;
}

#clean-header .content {
  width: 100%;
}

#clean-header .upperbody {
  font-size: 15px;
  overflow: hidden;
  user-select: none;
  --gap: 20px;
  display: flex;
  gap: var(--gap);
  direction: ltr;
  height: 50px;
}

#clean-header .upperbody .upperbody-link {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

#clean-header .upperbody:hover .upperbody-link {
  animation-play-state: paused;
}

#clean-header .upperbody .upperbody-link .upperbody-txt {
  color: var(--tints-10);
  margin: 0;
}

#clean-header .lowerbody {
  background-color: var(--sec-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93px;
}

#clean-header .lowerbody .logo-heading {
  color: var(--shades-10);
  margin: 0;
}

@media only screen and (max-width: 767px) {
  #clean-header .upperbody {
    --gap: 40px;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/** clean-header end **/
