/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** clean-benefits start **/

#clean-benefits {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-benefits {
  font-family: "Cairo", serif;
  direction: rtl;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: var(--tints-10);
}

#clean-benefits .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--btn-color);
  border-radius: 26px;
  overflow: hidden;
}

#clean-benefits .benefits-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 100px 0px;
}

#clean-benefits .benefits-cards .benefits-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

#clean-benefits .benefits-cards .icon-illustration {
  background-color: #3A3634;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px 0;
}

#clean-benefits .benefits-cards .icon-illustration img {
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#clean-benefits .benefits-cards .benefits-card-descriptive {
  margin: 0 auto;
  color: var(--tints-10);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  max-width: 256px;
}

@media screen and (max-width: 1020px) {
  #clean-benefits .benefits-cards {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0px;
    gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  #clean-benefits {
    padding: 30px 15px;
  }

  #clean-benefits .container .content {
    padding: 30px 0;
  }

  #clean-benefits .heading-content .main-heading {
    font-size: 30px;
    max-width: 190px;
  }
}

/** clean-benefits end **/