/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** amanmali-faq start **/

#amanmali-faq {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  background-color: #ECF6FF;
  padding: 120px 0px 80px;
  box-sizing: border-box;
  direction: rtl;
}

#amanmali-faq .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-faq .container .content {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 65px;
}

#amanmali-faq .faq-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#amanmali-faq .faq-header .faq-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  max-width: 452px;
  color: var(--third-color);
}

#amanmali-faq .faq-header .cta-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#amanmali-faq .faq-header .know-us {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#amanmali-faq .accordion {
  width: 590px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
}

#amanmali-faq .accordion details {
  border: 1px solid #f5f5f521;
  background-color: var(--tints-10);
  border-radius: 13px;
  user-select: none;
  padding: 28px 33px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

#amanmali-faq .accordion details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  font-size: 19px;
  cursor: pointer;
  transition: 0.18s;
  position: relative;
  width: 100%;
}

#amanmali-faq .accordion details summary .text {
  padding-left: 20px;
}

#amanmali-faq .accordion details summary .text::before {
  content: "";
  background-image: url(./faq-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%) rotate(0deg);
  width: 14px;
  height: 15px;
  transition: all 0.18s linear;
}

#amanmali-faq .accordion details[open] summary .text::before {
  transform: translateX(-100%) rotate(-180deg);
}

#amanmali-faq .accordion details[open] summary {
  margin-bottom: 10px;
  width: 100%;
}

#amanmali-faq .accordion details summary .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  position: relative;
  color: var(--third-color);
}

#amanmali-faq .accordion details summary .icon {
  padding: 0;
  cursor: default;
  border: none;
  background-color: transparent;
}

#amanmali-faq .accordion details summary .icon img {
  transform: rotate(0deg);
  transition: all 0.18s linear;
}

#amanmali-faq .accordion details[open] summary .icon img {
  transform: rotate(-180deg);
}

#amanmali-faq .accordion details .description {
  line-height: 28px;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E2E2E2;
  color: var(--third-color);
}

@media screen and (max-width: 1024px) {
  #amanmali-faq .container .content {
    padding: 0 35px;
    flex-direction: column;
  }

  #amanmali-faq .faq-header,
  #amanmali-faq .accordion,
  #amanmali-faq .faq-header .faq-title {
    width: 100%;
  }

  #amanmali-faq .faq-header .faq-title {
    max-width: unset;
  }
}

@media only screen and (max-width: 767px) {
  #amanmali-faq {
    padding: 85px 0px;
  }

  #amanmali-faq .container .content {
    padding: 0;
  }

  #amanmali-faq .accordion {
    width: 100%;
  }

  #amanmali-faq .accordion details summary .text #amanmali-faq .accordion details summary .text::before {
    transform: translateX(-100%) rotate(0deg);
  }

  #amanmali-faq .accordion details[open] summary .text::before {
    transform: translateX(-100%) rotate(-180deg);
  }
}

/** amanmali-faq end **/
