/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** timelime-header start **/

#timelime-header {
  --main-color: #00382B;

  --shades-1: #003227;
  --shades-2: #002d22;
  --shades-3: #00271e;
  --shades-4: #00221a;
  --shades-5: #001c16;
  --shades-6: #001611;
  --shades-7: #00110d;
  --shades-8: #000b09;
  --shades-9: #000604;
  --shades-10: #000000;

  --tints-1: #1a4c40;
  --tints-2: #336055;
  --tints-3: #4d746b;
  --tints-4: #668880;
  --tints-5: #809c95;
  --tints-6: #99afaa;
  --tints-7: #b3c3bf;
  --tints-8: #ccd7d5;
  --tints-9: #e6ebea;
  --tints-10: #ffffff;

  --secondary-color: #024B3A;
  --third-color: #00664E;

  font-family: "Almarai", serif;
  direction: rtl;
  background-color: var(--main-color);
  box-sizing: border-box;
}

#timelime-header .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#timelime-header .content,
#timelime-header .count-down {
  width: fit-content;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#timelime-header .count-down {
  padding: 0;
}

#timelime-header .count-down-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--tints-10);
  margin: 0;
}

#timelime-header .count-down>p {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #EDEDED;
  color: var(--shades-10);
  border-radius: 6px;
  position: relative;
}

#timelime-header .count-down>div:not(:first-of-type)::before {
  content: ":";
  position: absolute;
  right: -5px;
  top: 45%;
  height: 10px;
  transform: translate(50%, -50%);
  color: #FFC107;
  display: flex;
  align-items: center;
}

/** timelime-header end **/