/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** thobe-guarantie start **/

#thobe-guarantie {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-guarantie {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: #F2F2EF;
  padding: 30px 0;
}

#thobe-guarantie .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

#thobe-guarantie .content {
  background-image: url(./thobe-guarantie-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 430px;
}

#thobe-guarantie .content .heading,
#thobe-guarantie .content .buy-cta {
  width: 100%;
  text-align: center;
}

#thobe-guarantie .content .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

#thobe-guarantie .content .heading-txt {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.35;
  margin: 0;
  color: var(--tints-10);
}

#thobe-guarantie .content .heading-paragraph {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.35;
  margin: 0;
  color: var(--tints-10);
}

#thobe-guarantie .content .buy-cta {
  width: fit-content;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--tints-10);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 18px 30px;
  text-decoration: none;
}

#thobe-guarantie .content .buy-cta-txt {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  color: var(--shades-10);
}

@media screen and (max-width: 767px) {
  #thobe-guarantie .content {
    padding: 50px 15px;
    margin: 0;
  }

  #thobe-guarantie .inner-content {
    height: unset;

  }

  #thobe-guarantie .content .heading-paragraph {
    font-size: 20px;
  }
}

/** thobe-guarantie end **/