/** css rules start **/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/** css rules end **/

/** saasagency-testimonials start **/

#saasagency-testimonials {
  --main-color: #6140ef;

  --shades-1: #573ad7;
  --shades-2: #4e33bf;
  --shades-3: #442da7;
  --shades-4: #3a268f;
  --shades-5: #312078;
  --shades-6: #271a60;
  --shades-7: #1d1348;
  --shades-8: #130d30;
  --shades-9: #0a0618;
  --shades-10: #000000;

  --tints-1: #7153f1;
  --tints-2: #8166f2;
  --tints-3: #9079f4;
  --tints-4: #a08cf5;
  --tints-5: #b0a0f7;
  --tints-6: #c0b3f9;
  --tints-7: #d0c6fa;
  --tints-8: #dfd9fc;
  --tints-9: #efecfd;
  --tints-10: #ffffff;

  --secondary-color: #77ff77;
  --third-color: #04050a;
  --fourth-color: #15151d;

  font-family: "Cairo", sans-serif;
  background-color: var(--third-color);
  color: var(--tints-10);
  box-sizing: border-box;
}

#saasagency-testimonials .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#saasagency-testimonials .content {
  padding: 60px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 115px;
}

#saasagency-testimonials .content .header-text {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

#saasagency-testimonials .content .testimonials-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 25px;
}

#saasagency-testimonials .testimonials-container .testimonial-card {
  padding: 45px 30px;
  border: 1px solid #f5f5f521;
  border-radius: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#saasagency-testimonials .testimonials-container .testimonial-header {
  padding: 5px 30px;
  border-radius: 36px;
  background-color: var(--fourth-color);
  width: fit-content;
  font-size: 24px;
  font-weight: 600;
}

#saasagency-testimonials .testimonials-container .testimonial-header .testimonial-text {
  margin: 0;
  color: #4d4d5b;
}

#saasagency-testimonials .testimonials-container .testimonial-text-container {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  padding: 3px 0;
}

#saasagency-testimonials .testimonials-container .testimonial-text-container .testimonial-text {
  margin: 0;
  color: #dae1e7;
}

#saasagency-testimonials .testimonials-container .testimonial-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

#saasagency-testimonials .testimonials-container .testimonial-footer .user-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
}

#saasagency-testimonials .testimonials-container .testimonial-footer .user-image-container img {
  width: 100%;
  border-radius: 50%;
}

#saasagency-testimonials .testimonials-container .testimonial-footer .user-info {
  padding: 0 2px;
}

#saasagency-testimonials .testimonials-container .testimonial-footer .user-info h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

#saasagency-testimonials .testimonials-container .testimonial-footer .user-info h5:first-of-type {
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  #saasagency-testimonials .content {
    padding: 90px 35px;
  }

  #saasagency-testimonials .content .testimonials-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  #saasagency-testimonials .content {
    padding: 80px 0px;
  }

  #saasagency-testimonials .content .testimonials-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #saasagency-testimonials .content .header-text {
    text-align: center;
  }
}

/** saasagency-testimonials end **/