/** css rules start **/

@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/** css rules end **/

/** geschtalt-menu start **/

#geschtalt-menu {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-menu {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
}

#geschtalt-menu .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt-menu .header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: padding 0.33s ease;
}

#geschtalt-menu .hamburger {
  display: none;
  width: 25px;
}

#geschtalt-menu .hamburger img {
  width: 100%;
  pointer-events: none;
}

#geschtalt-menu .nav-bar ul {
  display: flex;
  list-style: none;
  font-family: "Almarai", sans-serif;
  padding: 0;
  margin: 0;
}

#geschtalt-menu .nav-bar ul .link-item {
  display: block;
  color: var(--tints-10);
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}

#geschtalt-menu .nav-bar ul .link-item[data-active_hover] {
  color: var(--main-color);
  text-decoration: underline;
}

#geschtalt-menu ul a.cta_booking {
  display: none;
}

#geschtalt-menu .book_table {
  background-color: var(--main-color);
}

#geschtalt-menu a.cta_booking {
  color: var(--secondary-color);
  text-decoration: none;
  display: flex;
  min-width: 147px;
  height: 48px;
  align-items: center;
  justify-content: center;
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  transition: 0.8s;
}

#geschtalt-menu a.cta_booking[data-active_hover] {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#geschtalt-menu .media_menu {
  display: none;
}

@media only screen and (max-width: 1020px) {
  #geschtalt-menu .header {
    height: 100px;
    padding: 0 35px;
  }

  #geschtalt-menu .hamburger {
    display: block;
    cursor: pointer;
  }

  #geschtalt-menu .book_table {
    display: none;
  }

  #geschtalt-menu .nav-bar {
    display: none;
  }

  #geschtalt-menu .media_menu {
    width: 100%;
    background-color: var(--secondary-color);
    overflow: hidden;
    list-style: none;
    height: auto;
    overflow: visible;
    padding: 0;
  }

  #geschtalt-menu .media_menu ul {
    opacity: 1;
    padding: 1em 0;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
    list-style: none;
    font-family: "Almarai", sans-serif;
  }

  #geschtalt-menu .media_menu ul .media-link {
    display: block;
    color: var(--tints-10);
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
  }

  #geschtalt-menu .media_menu.showMenu {
    display: block;
  }

  #geschtalt-menu .media_menu a.cta_booking {
    color: var(--main-color);
    text-decoration: none;
    display: flex;
    min-width: 147px;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    transition: 0.8s;
  }

  #geschtalt-menu .media_menu a.cta_booking[data-active_hover] {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 1px solid var(--main-color);
  }

  #geschtalt-menu .media_menu ul li .media-link[data-active_hover] {
    color: var(--main-color);
    text-decoration: underline;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt-menu .header {
    padding: 0;
  }

  #geschtalt-menu .logo {
    width: 150px;
  }

  #geschtalt-menu .logo img {
    width: 100%;
  }
}

/** geschtalt-menu end **/

/** geschtalt_slider start **/

#geschtalt_slider {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt_slider {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
}

#geschtalt_slider .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt_slider .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 32px 0em;
  align-items: center;
}

#geschtalt_slider .intro {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1.3em;
  align-items: flex-start;
  grid-column: span 1;
  position: absolute;
  z-index: 9;
}

#geschtalt_slider .title {
  font-size: 83px;
  font-weight: 500;
  color: var(--tints-10);
  margin: 0;
}

#geschtalt_slider .description {
  font-family: "Almarai", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: var(--tints-10);
  margin: 0;
}

#geschtalt_slider .get-table {
  font-family: "Almarai", sans-serif;
  color: var(--secondary-color);
  background-color: var(--main-color);
  text-decoration: none;
  display: flex;
  min-width: 127px;
  height: 48px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: 0.8s;
}

#geschtalt_slider .get-table[data-active_hover] {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#geschtalt_slider .slider-image {
  grid-column: 2/4;
  width: 100%;
}

#geschtalt_slider .swiper {
  width: 100%;
  height: 100%;
}

#geschtalt_slider .slider-image .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
  max-height: 500px;
  height: 500px;
}

#geschtalt_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

#geschtalt_slider .swiper-slide {
  background-color: indianred;
}

#geschtalt_slider .arrows {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  margin-top: 1em;
}

#geschtalt_slider .next,
#geschtalt_slider .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--tints-10);
  width: 62px;
  height: 62px;
  background-color: transparent;
  color: var(--tints-10);
  cursor: pointer;
}

#geschtalt_slider .next[data-active_hover] {
  border-color: var(--main-color);
}

#geschtalt_slider .prev[data-active_hover] {
  border-color: var(--main-color);
}

#geschtalt_slider .next[data-active_hover] .img_arrow,
#geschtalt_slider .prev[data-active_hover] .img_arrow {
  transform: rotate(360deg);
  transition: all 0.62s ease;
}

@media only screen and (max-width: 1020px) {
  #geschtalt_slider .content {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5em;
    padding: 32px 35px;
  }

  #geschtalt_slider .intro {
    grid-column: span 1;
    position: relative;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  #geschtalt_slider .title {
    text-align: center;
  }

  #geschtalt_slider .slider-image {
    grid-column: span 1;
  }

  #geschtalt_slider .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt_slider .content {
    gap: 0.5em !important;
    padding: 32px 0;
  }

  #geschtalt_slider .title {
    font-size: 60px;
  }

  #geschtalt_slider .description {
    font-size: 15px;
    text-align: center;
  }

  #geschtalt_slider .next,
  #geschtalt_slider .prev {
    width: 52px;
    height: 52px;
  }
}

/** geschtalt_slider end **/

/** geschtalt_about start **/

#geschtalt_about .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt_about {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt_about {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt_about .about-us-container {
  display: flex;
  padding: 32px 0em;
  gap: 32px;
}

#geschtalt_about .our_history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 32px;
  transition: all 0.33s ease;
  flex: 1;
}

#geschtalt_about .history-title {
  font-size: 73px;
  color: var(--main-color);
  margin: 0;
}

#geschtalt_about .history-desc {
  font-family: "Almarai", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  margin: 0;
}

#geschtalt_about .see_more_his {
  font-family: "Almarai", sans-serif;
  color: var(--secondary-color);
  background-color: var(--main-color);
  text-decoration: none;
  display: flex;
  min-width: 127px;
  height: 48px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: 0.8s;
}

#geschtalt_about .see_more_his[data-active_hover] {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#geschtalt_about .about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: start;
  transition: all 0.33s ease;
  flex: 1;
}

#geschtalt_about .about-title {
  font-size: 73px;
  color: var(--main-color);
  margin: 0;
}

#geschtalt_about .about-desc {
  font-family: "Almarai", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  margin: 0;
}

#geschtalt_about .see_more_about {
  font-family: "Almarai", sans-serif;
  color: var(--secondary-color);
  background-color: var(--main-color);
  text-decoration: none;
  display: flex;
  min-width: 127px;
  height: 48px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: 0.8s;
}

#geschtalt_about .see_more_about[data-active_hover] {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#geschtalt_about .kitchen_knife {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex: 0 0 auto;
}

@media only screen and (max-width: 1020px) {
  #geschtalt_about .about-us-container {
    flex-direction: column;
    gap: 32px;
    padding: 32px 35px;
  }

  #geschtalt_about .our_history {
    align-items: center;
  }

  #geschtalt_about .about_us {
    align-items: center;
  }

  #geschtalt_about .kitchen_knife {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt_about .about-us-container {
    padding: 32px 0;
  }
}

/** geschtalt_about end **/

/** geschtalt_presentation start **/

#geschtalt_presentation .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt_presentation {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt_presentation {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt_presentation .presentation_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 0;
}

#geschtalt_presentation .item {
  flex: 1 1 calc(33.33% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

#geschtalt_presentation .image {
  width: 100%;
  height: 400px;
  background-color: var(--main-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first {
  background-image: url("./first-dishe.jpg");
}

.second {
  background-image: url("./second-dishe.jpg");
}

.third {
  background-image: url("./third-dishe.jpg");
}

#geschtalt_presentation .text-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: 100%;
  gap: 4px;
}

#geschtalt_presentation .title {
  font-size: 38px;
  margin: 0;
}

#geschtalt_presentation .desc {
  font-size: 20px;
  font-family: "Almarai", sans-serif;
  line-height: 1.5;
  margin: 0;
}

@media only screen and (max-width: 1020px) {
  #geschtalt_presentation .item {
    flex: 1 1 calc(100% - 20px);
    display: flex;
    flex-direction: unset;
  }

  #geschtalt_presentation .text-row {
    padding: 0;
  }

  #geschtalt_presentation .presentation_container {
    padding: 32px 35px;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt_presentation .text-row {
    padding: 0;
    height: 150px;
  }

  #geschtalt_presentation .item {
    flex-direction: column !important;
    gap: 2.5em;
  }

  #geschtalt_presentation .presentation_container {
    gap: 32px;
    padding: 0;
  }
}

/** geschtalt_presentation end **/

/** geschtalt-dishes start **/

#geschtalt-dishes .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt-dishes {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-dishes {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt-dishes .content {
  padding: 32px 0;
}

#geschtalt-dishes .dishes_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

#geschtalt-dishes .menu_today {
  font-family: "Almarai", sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

#geschtalt-dishes .menu_header {
  font-size: 38px;
  font-weight: 700;
  color: var(--main-color);
  margin: 0;
}

#geschtalt-dishes .learn_more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
}

#geschtalt-dishes .learn_more_cta {
  background-color: var(--main-color);
  height: 49px;
  min-width: 159px;
  text-decoration: none;
  color: var(--secondary-color);
  font-family: "Almarai", sans-serif;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

#geschtalt-dishes .learn_more_cta[data-active_hover] {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

#geschtalt-dishes .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.7em;
  margin: 1.5em 0em;
}

#geschtalt-dishes .appetizers {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#geschtalt-dishes .main_dishes {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#geschtalt-dishes .dish_image {
  flex: 1;
  max-width: 300px;
  height: 400px;
  background-image: url("./menu-cuisine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#geschtalt-dishes .appetizers .title {
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  margin: 0;
}

#geschtalt-dishes .main_dishes .title {
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  margin: 0;
}

#geschtalt-dishes .appetizers-element,
#geschtalt-dishes .main_dishes-element {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  gap: 20px;
}

#geschtalt-dishes .elm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

#geschtalt-dishes .elm .name {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  justify-content: space-between;
  width: 90%;
  position: relative;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Almarai", sans-serif;
  color: var(--main-color);
  margin: 0;
}

#geschtalt-dishes .elm .name:after {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--main-color);
  display: block;
  color: inherit;
}

#geschtalt-dishes .elm .price {
  color: var(--tints-10);
  font-size: 18px;
  margin: 0 10px 0 0;
  min-width: 30px;
}

@media only screen and (max-width: 1020px) {
  .cards {
    flex-direction: column;
  }

  #geschtalt-dishes .dish_image {
    flex: none;
    min-width: 80%;
    margin: 0 auto;
  }

  #geschtalt-dishes .dishes_title {
    padding: 32px 35px;
  }

  #geschtalt-dishes .cards {
    padding: 32px 35px;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt-dishes .dish_image {
    flex: none;
    min-width: 100%;
    margin: 0 auto;
  }

  #geschtalt-dishes .cards {
    padding: 0;
  }
}

/** geschtalt-dishes end **/

/** geschtalt-ourbelieves start **/


#geschtalt-ourbelieves .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt-ourbelieves {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-ourbelieves {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt-ourbelieves .ourbelieves-content {
  display: flex;
  padding: 32px 0em;
}

#geschtalt-ourbelieves .box {
  height: 100%;
  width: 200px;
  background-color: var(--main-color);
}

#geschtalt-ourbelieves .chef-image {
  margin-right: -200px;
  padding: 1.5em;
}

#geschtalt-ourbelieves .chef {
  flex: 1;
  display: flex;
}

#geschtalt-ourbelieves .text {
  flex: 1;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Almarai", sans-serif;
}

#geschtalt-ourbelieves .tag {
  margin: 0;
  font-size: 17px;
}

#geschtalt-ourbelieves .title {
  font-size: 38px;
  color: var(--main-color);
  font-family: "Fustat", sans-serif;
  margin: 0;
}

#geschtalt-ourbelieves .desc {
  font-size: 15px;
  font-weight: 400;
  margin: 32px 0;
  line-height: 23px;
  text-align: justify;
}

#geschtalt-ourbelieves .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-name {
  font-weight: 700;
  color: var(--main-color);
  margin: 0;
}

.info-title {
  font-weight: 700;
  margin: 0;
}

#geschtalt-ourbelieves .signature {
  max-width: 100%;
  width: fit-content;
}

@media only screen and (max-width: 1020px) {
  #geschtalt-ourbelieves .ourbelieves-content {
    flex-direction: column-reverse;
    gap: 5em;
    padding: 32px 35px;
  }

  #geschtalt-ourbelieves .text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #geschtalt-ourbelieves .chef {
    justify-content: center;
  }

  #geschtalt-ourbelieves .box {
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt-ourbelieves .chef-image {
    margin-right: -200px;
    padding: 0;
    max-width: 100%;
  }

  #geschtalt-ourbelieves .ourbelieves-content {
    padding: 32px 0;
  }
}

/** geschtalt-ourbelieves end **/

/** geschtalt-video start **/

#geschtalt-video .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

#geschtalt-video {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-video {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt-video .geschtalt-video-preview {
  width: 100%;
  height: 800px;
  max-height: 800px;
  background-color: var(--secondary-color);
  padding: 32px 0;
  box-sizing: border-box;
}

#geschtalt-video .geschtalt-video-preview iframe {
  padding: 5px;
}

@media only screen and (max-width: 1020px) {
  #geschtalt-video .geschtalt-video-preview {
    height: 650px;
    padding: 32px 35px;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt-video .geschtalt-video-preview {
    height: 550px;
    padding: 32px 0px;
  }
}

/** geschtalt-video end **/

/** geschtalt-gallery start **/

#geschtalt-gallery .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt-gallery {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-gallery {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt-gallery .gallery {
  display: flex;
  padding: 32px 0;
  gap: 1.5em;
}

#geschtalt-gallery .content {
  flex: 1;
  font-family: "Almarai", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.33s ease;
}

#geschtalt-gallery .tag {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
}

#geschtalt-gallery .title {
  font-size: 38px;
  font-weight: 700;
  font-family: "Fustat", sans-serif;
  color: var(--main-color);
  margin: 0;
}

#geschtalt-gallery .desc {
  margin: 32px 0;
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}

#geschtalt-gallery .instagram_cta {
  min-width: 170px;
  max-width: 190px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.33s ease;
}

#geschtalt-gallery .instagram_cta[data-active_hover] {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#geschtalt-gallery .images {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

#geschtalt-gallery .images img {
  height: 400px;
  flex: 1;
  object-fit: cover;
}

#geschtalt-gallery .images img:hover {
  transition: all 0.33s ease;
  transform: scale(1.05);
}

@media only screen and (max-width: 1020px) {
  #geschtalt-gallery .content {
    align-items: center;
  }

  #geschtalt-gallery .desc {
    text-align: center;
  }

  #geschtalt-gallery .gallery {
    flex-direction: column;
    padding-right: 0em;
    padding: 32px 35px;
  }
}

@media only screen and (max-width: 767px) {

  #geschtalt-gallery .gallery {
    padding: 32px 0;
  }

  #geschtalt-gallery .images {
    flex-direction: column;
    width: 100%;
  }
}

/** geschtalt-gallery end **/

/** geschtalt-workday start **/

#geschtalt-workday .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt-workday {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-workday {
  background-color: var(--secondary-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt-workday .content {
  display: flex;
  gap: 1em;
  padding: 32px 0;
  align-items: center;
}

#geschtalt-workday .workday_slides {
  flex: 2;
  background-color: var(--secondary-color);
}

#geschtalt-workday .swiper-slide {
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 18px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 550px;
  max-height: 650px;
}

#geschtalt-workday .swiper-slide img {
  width: 100%;
}

#geschtalt-workday .text {
  flex: 1;
  font-family: "Almarai", sans-serif;
}

#geschtalt-workday .tag {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

#geschtalt-workday .title {
  font-size: 38px;
  font-weight: 700;
  font-family: "Fustat", sans-serif;
  color: var(--main-color);
  margin: 0;
  margin-bottom: 1rem;
}

#geschtalt-workday .desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

#geschtalt-workday .date-section {
  color: var(--main-color);
  font-weight: 700;
  font-size: 17px;
  line-height: 1.5;
}

#geschtalt-workday .date {
  font-weight: 400;
  font-size: 15px;
  margin: 1rem 0;
  line-height: 1.5;
}

.workday_cta-block {
  margin-top: 4rem;
}

#geschtalt-workday .workday_cta {
  min-width: 150px;
  max-width: 170px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.33s ease;
}

#geschtalt-workday .workday_cta[data-active_hover] {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

#geschtalt-workday .ousel-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#geschtalt-workday .ousel-pagination span {
  height: 12px;
  width: 12px;
  background-color: var(--main-color);
}

@media only screen and (max-width: 1020px) {
  #geschtalt-workday .content {
    flex-direction: column-reverse;
    padding: 32px 35px;
  }

  #geschtalt-workday .text {
    flex: content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #geschtalt-workday .workday_slides {
    width: 100%;
    flex: none;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt-workday .swiper-slide {
    min-height: unset;
  }

  #geschtalt-workday .content,
  #geschtalt-workday .text {
    padding: 32px 0;
  }
}

/** geschtalt-workday end **/

/** geschtalt-contact start **/

#geschtalt-contact .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt-contact {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-contact {
  background-color: var(--main-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt-contact .content {
  display: flex;
  padding: 32px 0;
  gap: 32px;
}

#geschtalt-contact .geschtalt-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1.3;
}

#geschtalt-contact .form-geschtalt {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 32px 0;
}

#geschtalt-contact .span_half {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

#geschtalt-contact .span_half,
#geschtalt-contact .text,
#geschtalt-contact .email,
#geschtalt-contact .tel,
#geschtalt-contact .number,
#geschtalt-contact .date,
#geschtalt-contact .ouasl_field-radios,
#geschtalt-contact .ouasl_field-checkbox {
  font-family: "Almarai", sans-serif;
  width: calc(50% - 1em);
  font-size: 14px;
  font-weight: 700;
}

#geschtalt-contact .span_half .ouasl_field-title,
#geschtalt-contact .ouasl_field-title,
#geschtalt-contact .ouasl_field-checkbox_title,
#geschtalt-contact .ouasl_field-radios_title {
  display: block;
  color: var(--secondary-color);
  margin-bottom: 8px;
}

#geschtalt-contact .span_half input[type="text"],
#geschtalt-contact .span_half input[type="email"],
#geschtalt-contact .span_half input[type="tel"],
#geschtalt-contact .span_half input[type="number"],
#geschtalt-contact .span_half input[type="datetime-local"],
#geschtalt-contact textarea,
#geschtalt-contact .text input[type="text"],
#geschtalt-contact .email input[type="email"],
#geschtalt-contact .tel input[type="tel"],
#geschtalt-contact .number input[type="number"],
#geschtalt-contact .date input[type="text"],
#geschtalt-contact .select select {
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: 400;
  color: var(--fourth-color);
  font-family: "Almarai", sans-serif;
  border: none;
  text-align: right;
  padding: 8px 12px;
  box-sizing: border-box;
}

#geschtalt-contact input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-inner-spin-button {
  display: none;
}

#geschtalt-contact .message,
#geschtalt-contact .textarea,
#geschtalt-contact .select {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#geschtalt-contact textarea {
  resize: none;
  height: 100px;
}

#geschtalt-contact .ouasl_field-radios,
#geschtalt-contact .ouasl_field-checkbox {
  margin-top: 1em;
}

#geschtalt-contact .ouasl_field-radios h4,
#geschtalt-contact .ouasl_field-checkbox h4 {
  margin: 0 0 1em 0;
}

#geschtalt-contact .checkbox,
#geschtalt-contact .radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

#geschtalt-contact .checkbox span,
#geschtalt-contact .radio span {
  margin: 0;
}

#geschtalt-contact .submit-form-btn {
  width: 100%;
  margin-top: 1.5em;
}

#geschtalt-contact .send_form {
  font-family: "Almarai", sans-serif;
  min-width: 170px;
  max-width: 190px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.33s ease;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

#geschtalt-contact .send_form[data-active_hover] {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

#geschtalt-contact .introduction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#geschtalt-contact .title {
  font-size: 38px;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 0;
}

#geschtalt-contact .desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: var(--secondary-color);
  font-family: "Almarai", sans-serif;
  margin: 0;
}

#geschtalt-contact .contact-form-text {
  flex: 1;
}

#geschtalt-contact .global-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
  gap: 8px;
  width: 60%;
  word-wrap: break-word;
}

#geschtalt-contact .global-text h4 {
  margin: 0;
  font-size: 17px;
  color: var(--secondary-color);
  font-weight: 700px;
}

#geschtalt-contact .line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--secondary-color);
}

#geschtalt-contact .global-text p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 15px;
  margin: 0;
}

@media only screen and (max-width: 1020px) {
  #geschtalt-contact .content {
    flex-direction: column;
    padding: 32px 35px;
  }

  #geschtalt-contact .contact-form-text {
    display: flex;
    gap: 32px;
  }

  #geschtalt-contact .introduction {
    align-items: center;
  }

  #geschtalt-contact .desc {
    text-align: center;
  }

  #geschtalt-contact .global-text {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  #geschtalt-contact .content {
    padding: 32px 0;
  }

  #geschtalt-contact .contact-form-text {
    display: block !important;
  }

  #geschtalt-contact .global-text {
    width: 100%;
    align-items: center;
  }

  #geschtalt-contact .global-text p {
    text-align: center;
  }

  #geschtalt-contact .span_half,
  #geschtalt-contact .text,
  #geschtalt-contact .email,
  #geschtalt-contact .tel,
  #geschtalt-contact .number,
  #geschtalt-contact .date,
  #geschtalt-contact .landino_field-radios,
  #geschtalt-contact .landino_field-checkbox {
    width: 100%;
  }

  #geschtalt-contact .send_form {
    margin: 0 auto;
  }
}

/** geschtalt-contact end **/

/** geschtalt-footer start **/

#geschtalt-footer .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#geschtalt-footer {
  --main-color: #D2B379;

  --tints-1: #d7bb86;
  --tints-2: #dbc294;
  --tints-3: #e0caa1;
  --tints-4: #e4d1af;
  --tints-5: #e9d9bc;
  --tints-6: #ede1c9;
  --tints-7: #f2e8d7;
  --tints-8: #f6f0e4;
  --tints-9: #fbf7f2;
  --tints-10: #ffffff;

  --shades-1: #bda16d;
  --shades-2: #a88f61;
  --shades-3: #937d55;
  --shades-4: #7e6b49;
  --shades-5: #695a3d;
  --shades-6: #544830;
  --shades-7: #3f3624;
  --shades-8: #2a2418;
  --shades-9: #15120c;
  --shades-10: #000000;

  --secondary-color: #050605;
  --third-color: #F4F0E9;
  --fourth-color: #373837;
}

#geschtalt-footer {
  background-color: var(--secondary-color);
  font-family: "Almarai", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
  color: var(--tints-10);
}

#geschtalt-footer .footer-content {
  padding: 32px 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  direction: rtl;
}

#geschtalt-footer .desc {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

#geschtalt-footer .social-media {
  display: flex;
  gap: 1em;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}

#geschtalt-footer .media-item {
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#geschtalt-footer .copyright-text {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

#geschtalt-footer .copyright {
  margin-top: 32px;
}

@media only screen and (max-width: 767px) {
  #geschtalt-footer .footer-content {
    padding: 32px 0;
  }
}

/** geschtalt-footer end **/