/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** ouasl-benefits start **/

#ouasl-benefits {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-benefits {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-clip: border-box;
  background-color: var(--sec-bg-color);
  padding: 30px 0;
}

#ouasl-benefits .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#ouasl-benefits .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 0 67.5px;
}

#ouasl-benefits .benefits-heading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 460px;
}

#ouasl-benefits .benefits-heading .heading-txt,
#ouasl-benefits .benefits-heading .heading-paragraph {
  margin: 0;
  color: var(--txt-color);
}

#ouasl-benefits .benefits-heading .heading-txt {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

#ouasl-benefits .benefits-heading .heading-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

#ouasl-benefits .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#ouasl-benefits .cards .card {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#ouasl-benefits .cards .card {
  background-color: #a4d0f1;
}

#ouasl-benefits .cards .card:nth-child(1) {
  background-color: #B6DBFF;
}

#ouasl-benefits .cards .card:nth-child(2) {
  background-color: #EAE5FF;
}

#ouasl-benefits .cards .card:nth-child(3) {
  background-color: #FFD7B9;
}

#ouasl-benefits .cards .card:nth-child(4) {
  background-color: #B5EBDD;
}

#ouasl-benefits .cards .card:nth-child(5) {
  background-color: #FFF1AE;
}

#ouasl-benefits .cards .card:nth-child(6) {
  background-color: #9CC6F4;
}

#ouasl-benefits .cards .card:nth-child(7) {
  background-color: #E7F1FC;
}

#ouasl-benefits .cards .card:nth-child(8) {
  background-color: #B2E8B9;
}

#ouasl-benefits .cards .card-img {
  width: 100%;
  height: 380px;
  overflow: hidden;
  padding: 3px 0;
}

#ouasl-benefits .cards .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

#ouasl-benefits .cards .card-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#ouasl-benefits .cards .card-txt .card-heading,
#ouasl-benefits .cards .card-txt .card-paragragh {
  margin: 0;
  color: var(--sec-bg-color);
}

#ouasl-benefits .cards .card-txt .card-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

#ouasl-benefits .cards .card-txt .card-paragragh {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (max-width: 1020px) {
  #ouasl-benefits .content {
    padding: 0;
  }

  #ouasl-benefits .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/** ouasl-benefits end **/