/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** lawfirm-header start **/

#amanmali-header {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;

  margin: 0;
  padding: 0;
  font-family: "Almarai", serif;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  direction: rtl;
  background-color: var(--tints-10);
}

#amanmali-header .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 135px;
  max-height: 135px;
  padding: 0 10px;
}

#amanmali-header .oa-menu-actions {
  display: flex;
  flex: 1;
  align-items: center;
}

#amanmali-header ul.menu {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

#amanmali-header ul.menu a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.33s ease;
  color: var(--third-color);
}

#amanmali-header ul.menu a[data-active_hover] {
  color: var(--main-color);
}

#amanmali-header .brand {
  flex: 1;
  display: flex;
  max-width: 180px;
}

#amanmali-header .brand img {
  max-width: 100%;
}

#amanmali-header .nav-responsive {
  display: none;
}

#amanmali-header .item-link-responsive {
  display: none;
  cursor: pointer;
}

#amanmali-header .link {
  color: var(--tints-10);
  text-decoration: none;
  padding: 2px;
}

#amanmali-header .button-container .cta-btn-link .contact-text {
  color: var(--tints-10);
}

#amanmali-header .button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 10px 10px 10px 0;
}

#amanmali-header .language-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#amanmali-header .language-link .text {
  color: var(--tints-10);
}

#amanmali-header .cta-btn-link {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  display: block;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
}

#amanmali-header .cta-btn-link[data-active_hover] {
  background-color: var(--main-color);
}

#amanmali-header .cta-btn .contact-icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--tints-10);
}

#amanmali-header .responsive-icons {
  display: none;
  width: 23px;
  height: 23px;
  overflow: hidden;
}

#amanmali-header .responsive-icons img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  #amanmali-header .content {
    padding: 0 35px;
  }

  #amanmali-header .responsive-icons {
    display: flex;
  }

  #amanmali-header .oa-menu-actions {
    position: absolute;
    z-index: 999;
    top: 126px;
    width: 100%;
    right: 0;
    flex-direction: column;
    height: calc(100vh - 126px);
    gap: 30px;
    padding: 25px 15px;
    box-sizing: border-box;
    background-color: var(--tints-10);
    opacity: 0;
    pointer-events: none;
  }

  #amanmali-header .oa-menu-actions.active {
    display: flex;
    opacity: 1;
    pointer-events: auto;
  }

  #amanmali-header .button-container {
    flex-direction: column-reverse;
  }

  #amanmali-header .oa-menu-actions.active .button-container {
    min-width: 200px;
    justify-content: center;
    padding: 0;
  }

  #amanmali-header .language {
    display: none;
  }

  #amanmali-header .cta-btn {
    border: none;
    font-size: 17px;
    height: unset;
  }

  #amanmali-header .cta-btn .contact-icon {
    display: none;
  }

  #amanmali-header ul.menu {
    flex: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  #amanmali-header .content {
    padding: 0;
    height: 100px;
  }

  #amanmali-header ul.menu {
    width: 100%;
  }

  #amanmali-header .button-container {
    width: 100%;
  }

  #amanmali-header .cta-btn {
    max-width: 100%;
    width: 100%;
  }

  #amanmali-header .cta-btn-link {
    margin: 0 auto;
  }
}

/** lawfirm-header end **/


/** amanmali-hero start **/
#amanmali-hero {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;

  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "Almarai", sans-serif;
  background-color: var(--tints-10);
  color: var(--shades-7);
  overflow: hidden;
  box-sizing: border-box;
  max-height: 536px;
}

#amanmali-hero .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-hero .content {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 10px;
  margin: auto;
  height: 536px;
}

#amanmali-hero .text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
  flex: 1;
}

#amanmali-hero .text h1 {
  margin: 0;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.3;
  max-width: 600px;
  color: var(--third-color);
}

#amanmali-hero .text p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 440px;
  color: var(--third-color);
}

#amanmali-hero .action-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#amanmali-hero .cta-btn {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  display: block;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
}

#amanmali-hero .cta-btn[data-active_hover] {
  transition: background-color 0.26s ease-in-out;
  background-color: var(--third-color) !important;
}

#amanmali-hero .image-wrapper {
  height: 100%;
  overflow: hidden;
}

#amanmali-hero .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  #amanmali-hero {
    max-height: unset;
  }

  #amanmali-hero .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0;
    padding: 30px 0 0;
    height: unset;
  }

  #amanmali-hero .text {
    text-align: center;
    align-items: center;
  }

  #amanmali-hero .image-wrapper {
    height: 596px;
  }
}

@media only screen and (max-width: 767px) {
  #amanmali-hero .content {
    flex-direction: column;
  }

  #amanmali-hero .text h1 {
    font-size: 39px;
  }

  #amanmali-hero .text p {
    font-size: 16px;
  }

  #amanmali-hero .image-wrapper {
    min-width: 250px;
  }

  #amanmali-hero .image-wrapper img {
    width: unset;
  }
}


/** amanmali-hero end **/

/** amanmali-social-proof start **/

#amanmali-social-proof {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;

  font-family: "Almarai", sans-serif;
  background-color: var(--secondary-color);
  padding: 100px 0px 60px;
  box-sizing: border-box;
  direction: rtl;
}

#amanmali-social-proof .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-social-proof .content {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#amanmali-social-proof .title .text {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: var(--third-color);
}

#amanmali-social-proof .title .text span {
  font-weight: 700;
}

#amanmali-social-proof .logo-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 83px;
}

#amanmali-social-proof .logo-container .vector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}

#amanmali-social-proof .logo-container img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  #amanmali-social-proof .logo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  #amanmali-social-proof .content {
    padding: 80px 0;
  }

  #amanmali-social-proof .logo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/** amanmali-social-proof end **/

/** amanmali-overview start **/

#amanmali-overview {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  padding: 130px 0px 90px;
  box-sizing: border-box;
  direction: rtl;
  background-color: var(--tints-10);
}

#amanmali-overview .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-overview .content {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 108px;
}

#amanmali-overview .content .image-content {
  background-color: transparent;
  border: 1px solid #f5f5f521;
  box-sizing: border-box;
  padding: 5px;
}

#amanmali-overview .content .image-content img {
  max-width: 527px;
  width: 100%;
  max-height: 466px;
  height: 100%;
  object-fit: cover;
  border-radius: 45px;
  overflow: hidden;
  box-shadow: 0px -1px 21.8px 0px #00000038;
}

#amanmali-overview .content .text-content {
  max-width: 515px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 41px;
}

#amanmali-overview .content .text-content .description-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#amanmali-overview .content .text-content .cta-btn {
  display: flex;
  gap: 20px;
}

#amanmali-overview .content .text-content .main-description {
  font-size: 47px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: var(--third-color);
}

#amanmali-overview .content .text-content .sub-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: var(--third-color);
  max-width: 460px;
}

#amanmali-overview .content .text-content .cta-btn .cta-btn-link {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

@media screen and (max-width: 1024px) {
  #amanmali-overview .content {
    flex-direction: column-reverse;
    padding: 60px 35px 95px;
    gap: 70px;
  }

  #amanmali-overview .content .image-content,
  #amanmali-overview .content .text-content {
    max-width: unset;
    width: 100%;
    text-align: center;
  }

  #amanmali-overview .content .image-content img {
  max-width: unset;
  max-height: unset;
}
}

@media screen and (max-width: 767px) {
  #amanmali-overview .content {
    padding: 65px 0px;
  }
}

/** amanmali-overview end **/

/** amanmali-overview-sec start **/

#amanmali-overview-sec {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  box-sizing: border-box;
  direction: rtl;
  padding: 140px 0px 115px;
  background-color: var(--secondary-color);
}

#amanmali-overview-sec .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-overview-sec .content {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 108px;
}

#amanmali-overview-sec .content .image-content {
  max-width: 610px;
  width: 100%;
  max-height: 441px;
  height: 100%;
  background-color: var(--secondary-bg);
  border: 1px solid #f5f5f521;
  border-radius: 25px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px -1px 21.8px 0px #00000038;
}

#amanmali-overview-sec .content .image-content iframe {
  width: 100%;
  height: 441px;
}

#amanmali-overview-sec .content .text-content {
  max-width: 515px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

#amanmali-overview-sec .content .text-content .description-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

#amanmali-overview-sec .content .text-content .cta-btn {
  display: flex;
  gap: 20px;
}

#amanmali-overview-sec .content .text-content .main-description {
  font-size: 47px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: var(--third-color);
}

#amanmali-overview-sec .content .text-content .sub-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: var(--third-color);
  max-width: 460px;
}

#amanmali-overview-sec .content .text-content .cta-btn .cta-btn-link {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

@media screen and (max-width: 1024px) {
  #amanmali-overview-sec .content {
    flex-direction: column-reverse;
    padding: 60px 35px 95px;
    gap: 70px;
  }

  #amanmali-overview-sec .content .image-content,
  #amanmali-overview-sec .content .text-content {
    max-width: unset;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #amanmali-overview-sec .content {
    padding: 65px 0px;
  }
}

/** amanmali-overview-sec end **/

/** amanmali-cta start **/

#amanmali-cta {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  box-sizing: border-box;
  direction: rtl;
  background-image: url(./amanmali-cta-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}

#amanmali-cta .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-cta .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 437px;
}

#amanmali-cta .content .cta-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#amanmali-cta .content .cta-info .cta-info-header,
#amanmali-cta .content .cta-info .cta-info-description {
  font-size: 47px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: var(--tints-10);
  text-align: center;
}

#amanmali-cta .content .cta-info .cta-info-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 640px;
}

#amanmali-cta .content .cta-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#amanmali-cta .content .cta-btns a {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#amanmali-cta .content .cta-btns a.consult-us {
  background-color: var(--tints-10);
  color: var(--shades-10);
}

@media screen and (max-width: 767px) {
  #amanmali-cta .content .cta-info .cta-info-header {
    font-size: 35px;
  }

  #amanmali-cta .content .cta-btns {
    flex-direction: column;
  }

  #amanmali-cta .content .cta-btns a {
    width: 100%;
    box-sizing: border-box;
  }
}

/** amanmali-cta end **/

/** amanmali-testimonials start **/

#amanmali-testimonials {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  direction: rtl;
  background-color: var(--tints-10);
  position: relative;
  padding: 0;
  padding: 110px 0px 70px;
}

#amanmali-testimonials .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-testimonials .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 0 10px;
}

#amanmali-testimonials .testimonial-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  max-width: 560px;
}

#amanmali-testimonials .testimonial-heading-txt,
#amanmali-testimonials .testimonial-heading-paragraph {
  margin: 0;
  color: var(--txt-color-1);
  text-align: center;
}

#amanmali-testimonials .testimonial-heading-txt {
  font-size: 53px;
  font-weight: 700;
  line-height: 1;
  color: var(--third-color);
}

#amanmali-testimonials .testimonial-heading-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #393939;
}

#amanmali-testimonials .testimonial-cards,
#amanmali-testimonials .testimonial-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#amanmali-testimonials .testimonial-cards {
  flex-wrap: wrap;
  width: 100%;
}

#amanmali-testimonials .testimonial-card {
  gap: 40px;
  box-shadow: 0px 0px 21.3px 0px #00000014;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  width: calc(50% - 10px);
}

#amanmali-testimonials .testimonial-card .testimonial-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#amanmali-testimonials .testimonial-content .testimonial-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

#amanmali-testimonials .testimonial-content .testimonial-rating-star {
  display: flex;justify-content: center;align-items: center;
  padding: 2px;
}

#amanmali-testimonials .testimonial-content .testimonial-quote-content {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--third-color);
}

#amanmali-testimonials .testimonial-content .testimonial-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

#amanmali-testimonials .testimonial-content .testimonial-author .testimonial-author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

#amanmali-testimonials .testimonial-content .testimonial-author .testimonial-author-img img {
  width: 100%;
  object-fit: cover;
}

#amanmali-testimonials .testimonial-content .testimonial-author .testimonial-author-name {
  margin: 0;
  color: var(--third-color);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;
}

#amanmali-testimonials .testimonial-content .testimonial-author .testimonial-author-job-position {
  margin: 0;
  color: #6B6B6B;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}

#amanmali-testimonials .entreprise-logo {
  max-width: 222px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

#amanmali-testimonials .entreprise-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  #amanmali-testimonials .content {
    padding: 0 35px;
  }

  #amanmali-testimonials .testimonial-cards {
    flex-direction: column;
  }

  #amanmali-testimonials .testimonial-card {
      width: 100%;
    }
}

@media screen and (max-width: 767px) {
  #amanmali-testimonials .content {
    padding: 0;
  }

  #amanmali-testimonials .testimonial-heading-txt {
    font-size: 40px;
  }

  #amanmali-testimonials .testimonial-card {
    flex-direction: column;
  }

  #amanmali-testimonials .testimonial-card .testimonial-content {
    gap: 20px;
    padding-top: 10px;
  }

  #amanmali-testimonials .entreprise-logo {
    aspect-ratio: 16/9;
    max-width: unset;
  }
}

/** amanmali-testimonials end **/

/** amanmali-faq start **/

#amanmali-faq {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  background-color: #ECF6FF;
  padding: 120px 0px 80px;
  box-sizing: border-box;
  direction: rtl;
}

#amanmali-faq .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-faq .container .content {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 65px;
}

#amanmali-faq .faq-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#amanmali-faq .faq-header .faq-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  max-width: 452px;
  color: var(--third-color);
}

#amanmali-faq .faq-header .cta-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#amanmali-faq .faq-header .know-us {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#amanmali-faq .accordion {
  width: 590px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
}

#amanmali-faq .accordion details {
  border: 1px solid #f5f5f521;
  background-color: var(--tints-10);
  border-radius: 13px;
  user-select: none;
  padding: 28px 33px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

#amanmali-faq .accordion details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  font-size: 19px;
  cursor: pointer;
  transition: 0.18s;
  position: relative;
  width: 100%;
}

#amanmali-faq .accordion details summary .text {
  padding-left: 20px;
}

#amanmali-faq .accordion details summary .text::before {
  content: "";
  background-image: url(./faq-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%) rotate(0deg);
  width: 14px;
  height: 15px;
  transition: all 0.18s linear;
}

#amanmali-faq .accordion details[open] summary .text::before {
  transform: translateX(-100%) rotate(-180deg);
}

#amanmali-faq .accordion details[open] summary {
  margin-bottom: 10px;
  width: 100%;
}

#amanmali-faq .accordion details summary .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  position: relative;
  color: var(--third-color);
}

#amanmali-faq .accordion details summary .icon {
  padding: 0;
  cursor: default;
  border: none;
  background-color: transparent;
}

#amanmali-faq .accordion details summary .icon img {
  transform: rotate(0deg);
  transition: all 0.18s linear;
}

#amanmali-faq .accordion details[open] summary .icon img {
  transform: rotate(-180deg);
}

#amanmali-faq .accordion details .description {
  line-height: 28px;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E2E2E2;
  color: var(--third-color);
}

@media screen and (max-width: 1024px) {
  #amanmali-faq .container .content {
    padding: 0 35px;
    flex-direction: column;
  }

  #amanmali-faq .faq-header,
  #amanmali-faq .accordion,
  #amanmali-faq .faq-header .faq-title {
    width: 100%;
  }

  #amanmali-faq .faq-header .faq-title {
    max-width: unset;
  }
}

@media only screen and (max-width: 767px) {
  #amanmali-faq {
    padding: 85px 0px;
  }

  #amanmali-faq .container .content {
    padding: 0;
  }

  #amanmali-faq .accordion {
    width: 100%;
  }

  #amanmali-faq .accordion details summary .text #amanmali-faq .accordion details summary .text::before {
    transform: translateX(-100%) rotate(0deg);
  }

  #amanmali-faq .accordion details[open] summary .text::before {
    transform: translateX(-100%) rotate(-180deg);
  }
}

/** amanmali-faq end **/

/** amanmali-footer start **/

#amanmali-footer {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  padding: 95px 0px 45px;
  box-sizing: border-box;
  direction: rtl;
  color: var(--tints-10);
  background-color: #ECF6FF;
}

#amanmali-footer .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-footer .container .content {
  margin: 0 10px;
  padding: 100px 54px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: var(--third-color);
  border-radius: 35px;
}

#amanmali-footer .container .content .form-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 54px;
  width: 100%;
}

#amanmali-footer .container .content .form-body .newsletter-icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#amanmali-footer .container .content .form-body .newsletter-icon img {
  width: 100%;
  object-fit: contain;
}

#amanmali-footer .container .content .form-body .form-info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  max-width: 436px;
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading {
  font-size: 47px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: var(--tints-10);
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate .description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #8FA4B4;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content {
  max-width: 476px;
  width: 476px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-caption {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  width: 100%;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .email-label {
  flex-grow: 1;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali input[type="email"] {
  background-color: #143349;
  border: 1px solid #001E33;
  padding: 20px 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 44px;
  width: 100%;
  box-sizing: border-box;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali button[type="submit"] {
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: none;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #8FA4B4;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-text a {
  color: var(--tints-10);
}

#amanmali-footer .container .content .divider {
  width: 100%;
  height: 2px;
  background-color: #FFFFFF1C;
}

#amanmali-footer .container .content .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#amanmali-footer .container .content .footer-content .logo-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

#amanmali-footer .container .content .footer-content .logo-info .logo {
  width: 179px;
  height: 44px;
  overflow: hidden;
}

#amanmali-footer .container .content .footer-content .logo-info .logo img {
  width: 100%;
  object-fit: contain;
}

#amanmali-footer .container .content .footer-content .logo-info .slogan {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #8FA4B4;
}

#amanmali-footer .container .content .footer-content .quick-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 40px;
}

#amanmali-footer .container .content .footer-content .quick-links ul.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

#amanmali-footer .container .content .footer-content .quick-links ul.menu a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.33s ease;
  color: var(--tints-10);
}

#amanmali-footer .container .content .footer-content .quick-links .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#amanmali-footer .container .content .footer-content .quick-links .socials>a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--tints-10);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#amanmali-footer .container .content .footer-content .quick-links .socials>a img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  #amanmali-footer .container .content {
    margin: 0 35px;
  }

  #amanmali-footer .container .content .form-body {
    align-items: center;
    max-width: 491px;
    margin: 0 auto;
  }

  #amanmali-footer .container .content .form-body .form-info-content {
    flex-direction: column;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content {
    width: 100%;
    max-width: unset;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading,
  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .description,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-container {
    width: 100%;
    text-align: center;
  }

  #amanmali-footer .container .content .footer-content {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  #amanmali-footer .container .content .footer-content .logo-info {
    align-items: center;
  }

  #amanmali-footer .container .content .footer-content .quick-links .socials {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  #amanmali-footer .container .content {
    margin: 0;
    padding: 40px 15px;
  }

  #amanmali-footer .container .content .form-body {
    margin: 0;
    width: 100%;
    max-width: unset;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading {
    font-size: 35px;
  }

  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali {
    flex-direction: column;
  }

  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-caption,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .email-label,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .submit-btn,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali button[type="submit"] {
    width: 100%;
    text-align: center;
  }

  #amanmali-footer .container .content .footer-content .quick-links ul.menu {
    gap: 30px;
  }
}

/** amanmali-footer end **/