/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** clean-cta start **/

#clean-cta {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-cta {
  font-family: "Cairo", serif;
  direction: rtl;
  box-sizing: border-box;
  padding: 30px 20px;
  background-color: var(--tints-10);
}

#clean-cta .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#clean-cta .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border-radius: 25px;
  background-color: var(--main-bg-color);
  aspect-ratio: 3/1;
}

#clean-cta .content .cta-heading {
  margin: 0;
  font-size: 43px;
  font-weight: 700;
  line-height: 1.64;
  text-align: center;
  color: var(--btn-color);
}

#clean-cta .content .buy-cta {
  background-color: var(--btn-color);
  border-radius: 10px;
  color: #FFF8F5;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  padding: 20px;
  display: block;
}

#clean-cta .content .buy-cta-txt {
  margin: 0;
}

@media screen and (max-width: 767px) {
  #clean-cta {
    padding: 30px 0;
  }

  #clean-cta .content {
    padding: 50px 0;
    gap: 25px;
    /* aspect-ratio: 3/2; */
  }

  #clean-cta .content .cta-heading {
    font-size: 25px;
  }
}

/** clean-cta end **/
