/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** lawfirm-hero start **/

#lawfirm-hero {
  --main-color: #2c4e52;

  --shades-1: #28464a;
  --shades-2: #233e42;
  --shades-3: #1f3739;
  --shades-4: #1a2f31;
  --shades-5: #162729;
  --shades-6: #121f21;
  --shades-7: #0d1719;
  --shades-8: #091010;
  --shades-9: #040808;
  --shades-10: #000000;

  --tints-1: #416063;
  --tints-2: #567175;
  --tints-3: #6b8386;
  --tints-4: #809597;
  --tints-5: #96a7a9;
  --tints-6: #abb8ba;
  --tints-7: #c0cacb;
  --tints-8: #d5dcdc;
  --tints-9: #eaedee;
  --tints-10: #ffffff;

  --secondary-color: #012a2e;
  --third-color: #97a8a9;
  --fourth-color: #eff2f2;

  font-family: "Markazi Text", serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100svh;
  color: var(--tints-10);
  position: relative;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
}

#lawfirm-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  z-index: -2;
  background-color: #0000004D;
}

#lawfirm-hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #0000004D;
}

#lawfirm-hero .container {
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 100vh;
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#lawfirm-hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 126px);
  max-width: 725px;
  width: 100%;
  padding: 0 60px;
}

#lawfirm-hero .tagline {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

#lawfirm-hero .welcome-message {
  font-size: 96px;
  font-weight: 500;
  line-height: 1.2;
  margin: 12px 0 47px;
}

#lawfirm-hero .action-buttons a,
#lawfirm-hero .action-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
}

#lawfirm-hero .action-buttons a {
  gap: 30px;
  border: 1px solid var(--tints-10);
  border-radius: 58px;
  padding: 20px 23px;
  width: fit-content;
  text-decoration: none;
  color: var(--tints-10);
  font-size: 14px;
  font-weight: 700;
}

#lawfirm-hero .action-buttons a.contact-us-link {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

#lawfirm-hero .action-buttons p {
  margin: 0;
  color: var(--tints-10);
}

#lawfirm-hero .action-buttons .contact-icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--tints-10);
}

@media screen and (max-width: 1020px) {
  #lawfirm-hero .content {
    padding: 0 35px;
  }
}

@media screen and (max-width: 767px) {
  #lawfirm-hero .content {
    padding: 0;
  }

  #lawfirm-hero .welcome-message {
    font-size: 70px;
    margin-bottom: 47px;
  }
}

/** lawfirm-hero end **/