/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--third-color);
  color: var(--tints-10);
}

/** css rules end **/
/** freshbites-newsletter start **/
#freshbites-newsletter {
  --main-color: #189d58;

  --tints-1: #2fa769;
  --tints-2: #46b179;
  --tints-3: #5dba8a;
  --tints-4: #74c49b;
  --tints-5: #8cceac;
  --tints-6: #a3d8bc;
  --tints-7: #bae2cd;
  --tints-8: #d1ebde;
  --tints-9: #e8f5ee;
  --tints-10: #ffffff;

  --shades-1: #168d4f;
  --shades-2: #137e46;
  --shades-3: #116e3e;
  --shades-4: #0e5e35;
  --shades-5: #0c4f2c;
  --shades-6: #0a3f23;
  --shades-7: #072f1a;
  --shades-8: #051f12;
  --shades-9: #021009;
  --shades-10: #000000;

  --secondary-color: #024c2f;
  --third-color: #95cb42;
  --fourth-color: #fafafa;
}

#freshbites-newsletter {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "Almarai", sans-serif;
  background-color: var(--fourth-color);
}

#freshbites-newsletter .container {
  width: 100%;
  padding: 80px 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#freshbites-newsletter .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
}

#freshbites-newsletter .heading {
  flex: 1 1 46%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  justify-content: center;
}

#freshbites-newsletter .heading h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  color: var(--shades-8);
}

#freshbites-newsletter .heading p {
  color: #363636;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding-left: 40px;
}

#freshbites-newsletter .freshbites-newsletter-form {
  flex: 1 1 46%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 15px 15px 0;
  box-sizing: border-box;
}

#freshbites-newsletter .freshbites-newsletter-form .email-label {
  flex: 1 1 70%;
}

#freshbites-newsletter .freshbites-newsletter-form .email-label input {
  width: 100%;
  min-height: 55px;
  border: 1px solid var(--shades-8);
  border-left: none;
  font-family: "Almarai", serif;
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--shades-10);
  padding: 0 20px;
  line-height: 24px;
  box-sizing: border-box;
}

#freshbites-newsletter .freshbites-newsletter-form .email-label input:focus {
  outline: none;
}

#freshbites-newsletter .freshbites-newsletter-form .email-label input::placeholder {
  color: #838383 !important;
}

#freshbites-newsletter .freshbites-newsletter-form .email-label input::placeholder {
  color: var(--shades-10);
}

#freshbites-newsletter .freshbites-newsletter-form .newsletter_submitter {
  flex: 1 1 30%;
  background-color: var(--main-color);
  color: var(--tints-10);
  min-height: 55px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-family: "Almarai", serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

#freshbites-newsletter .freshbites-newsletter-form .newsletter_submitter[data-active_hover] {
  transition: background-color 0.26s ease-in-out;
  background-color: var(--third-color) !important;
}

@media only screen and (max-width: 1024px) {
  #freshbites-newsletter .content {
    flex-direction: column;
    gap: 35px;
  }

  #freshbites-newsletter .heading {
    text-align: center;
  }

  #freshbites-newsletter .freshbites-newsletter-form {
    width: calc(100vw - 50%);
    padding: 15px 0;
  }

  #freshbites-newsletter .heading p {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  #freshbites-newsletter .heading h2 {
    font-size: 25px;
  }

  #freshbites-newsletter .heading p {
    font-size: 16px;
  }

  #freshbites-newsletter .freshbites-newsletter-form {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  #freshbites-newsletter .heading h2 {
    font-size: 20px;
    line-height: 1.5;
  }

  #freshbites-newsletter .heading p {
    font-size: 15px;
    line-height: 1.5;
  }

  #freshbites-newsletter .content {
    padding: 10px 0;
  }

  #freshbites-newsletter {
    padding: 1em;
  }

  #freshbites-newsletter .freshbites-newsletter-form {
    flex-direction: column;
  }

  #freshbites-newsletter .freshbites-newsletter-form .email-label input {
    border-left: 1px solid #363636;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }

  #freshbites-newsletter .freshbites-newsletter-form .newsletter_submitter {
    border-radius: 0 0 10px 10px;
  }
}

/** freshbites-newsletter end **/