/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/
/** thobe-hero start **/

#thobe-hero {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-hero {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  height: calc(100svh - 126px);
  background-image: url(./hero-bg-img.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  position: relative;
}

#thobe-hero .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#thobe-hero .content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

#thobe-hero .content-info {
  width: 708px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 35px;
}

#thobe-hero .content-info .content-info-heading,
#thobe-hero .content-info .cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: center;
}

#thobe-hero .content-info .content-info-heading-txt {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--tints-10);
  margin: 0;
}

#thobe-hero .content-info .content-info-heading-paragraph {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--tints-10);
  margin: 0;
}

#thobe-hero .content-info .buy-cta {
  background-color: var(--tints-10);
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 18px 30px;
  box-sizing: border-box;
}

#thobe-hero .content-info .buy-cta-txt {
  color: var(--shades-10);
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

#thobe-hero .content-info .scarcity-text {
  color: var(--tints-10);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
}


#thobe-hero .content-info .hero-clean-benefits,
#thobe-hero .content-info .hero-clean-benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#thobe-hero .content-info .hero-clean-benefits {
  background-color: #E8E8E133;
  border-radius: 20px;
  padding: 15px 20px;
}

#thobe-hero .content-info .hero-clean-benefit {
  gap: 7px;
}

#thobe-hero .content-info .hero-clean-benefit .hero-clean-benefit-logo {
  width: 25px;
  height: 25px;
  overflow: hidden;
  padding: 2px 0;
}

#thobe-hero .content-info .hero-clean-benefit .hero-clean-benefit-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#thobe-hero .content-info .hero-clean-benefit .hero-clean-benefit-txt {
  margin: 0;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--tints-10);
}

@media screen and (max-width: 767px) {
  #thobe-hero .content-info {
    padding-bottom: 30px;
  }

  #thobe-hero .content-info .content-info-heading-txt {
    font-size: 47px;
  }

  #thobe-hero .content-info .hero-clean-benefits {
    flex-wrap: wrap;
    padding: 15px 0px;
    gap: 20px;
  }

  #thobe-hero .content-info .hero-clean-benefit {
    width: calc(50% - 20px);
  }

  #thobe-hero .content-info .hero-clean-benefit-logo {
    padding: 2px 0;
  }
}

/** thobe-hero end **/