/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/
/** tomor-footer start **/

#tomor-footer {
  --tints-1: #974e41;
  --tints-2: #a26156;
  --tints-3: #ae756b;
  --tints-4: #b98980;
  --tints-5: #c59d96;
  --tints-6: #d1b0ab;
  --tints-7: #dcc4c0;
  --tints-8: #e8d8d5;
  --tints-9: #f3ebea;
  --tints-10: #ffffff;

  --shades-1: #7d3428;
  --shades-2: #6f2e23;
  --shades-3: #61291f;
  --shades-4: #53231a;
  --shades-5: #461d16;
  --shades-6: #381712;
  --shades-7: #2a110d;
  --shades-8: #1c0c09;
  --shades-9: #0e0604;
  --shades-10: #000000;

  --btn-color: #8B3A2C;
  --sec-bg-color: #CFB58C;
  --main-bg-color: #fff;
  --txt-color-1: #2C110D;
  --txt-color-2: #FFFDF8;
}

#tomor-footer {
  font-family: "El Messiri", sans-serif;
  direction: rtl;
  background-color: var(--txt-color-2);
  position: relative;
  padding: 40px 0;
}

#tomor-footer .container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#tomor-footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tomor-footer .logo-content,
#tomor-footer .links-wrapper,
#tomor-footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#tomor-footer .logo-content .logo-txt {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

#tomor-footer .links-wrapper {
  gap: 60px;
  margin: 0;
  padding: 0;
}

#tomor-footer .links-wrapper .link {
  text-decoration: none;
  color: var(--txt-color-1);
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
}

#tomor-footer .social-icons {
  gap: 50px;
}

#tomor-footer .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

@media screen and (max-width: 1020px) {
  #tomor-footer .content {
    flex-direction: column;
    gap: 25px;
  }

  #tomor-footer .links-wrapper {
    gap: 40px;
  }
}