/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--third-color);
  color: var(--tints-10);
}

/** css rules end **/

/** freshbites-benefits start **/
#freshbites-benefits {
  --main-color: #189d58;

  --tints-1: #2fa769;
  --tints-2: #46b179;
  --tints-3: #5dba8a;
  --tints-4: #74c49b;
  --tints-5: #8cceac;
  --tints-6: #a3d8bc;
  --tints-7: #bae2cd;
  --tints-8: #d1ebde;
  --tints-9: #e8f5ee;
  --tints-10: #ffffff;

  --shades-1: #168d4f;
  --shades-2: #137e46;
  --shades-3: #116e3e;
  --shades-4: #0e5e35;
  --shades-5: #0c4f2c;
  --shades-6: #0a3f23;
  --shades-7: #072f1a;
  --shades-8: #051f12;
  --shades-9: #021009;
  --shades-10: #000000;

  --secondary-color: #024c2f;
  --third-color: #95cb42;
  --fourth-color: #fafafa;
}

#freshbites-benefits {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "Almarai", sans-serif;
  background-color: var(--secondary-color);
  color: var(--tints-10);
}

#freshbites-benefits .container {
  width: 100%;
  padding: 80px 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#freshbites-benefits .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#freshbites-benefits .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#freshbites-benefits .heading h2 {
  max-width: 600px;
  margin: 0;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
}

#freshbites-benefits .cta-btn {
  cursor: pointer;
  border: 0;
  background-color: var(--main-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  height: 60px;
  min-width: 230px;
  color: var(--fourth-color);
}

#freshbites-benefits .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 100%;
  box-sizing: border-box;
}

#freshbites-benefits .card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#freshbites-benefits .card:nth-of-type(2) .image-box {
  background-image: url("./featureImage-2.jpg");
}

#freshbites-benefits .card:nth-of-type(3) .image-box {
  background-image: url("./featureImage-3.jpg");
}

#freshbites-benefits .image-box {
  height: 250px;
  width: 100%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-image: url("./featureImage-1.jpg");
}

#freshbites-benefits .text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

#freshbites-benefits .card h4 {
  font-size: 25px;
  margin: 0;
  line-height: 1.3;
}

#freshbites-benefits .card p {
  font-size: 20px;
  margin: 0;
  line-height: 1.3;
}

#freshbites-benefits .cta-btn[data-active_hover] {
  transition: background-color 0.26s ease-in-out;
  background-color: var(--third-color) !important;
}

@media only screen and (max-width: 1024px) {
  #freshbites-benefits .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  #freshbites-benefits .heading h2 {
    font-size: 37px;
  }

  #freshbites-benefits .content {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  #freshbites-benefits .heading h2 {
    font-size: 30px;
    width: 80%;
  }

  #freshbites-benefits .card {
    gap: 25px;
  }

  #freshbites-benefits .card h4 {
    font-size: 21px;
  }

  #freshbites-benefits .card p {
    font-size: 16px;
  }

  #freshbites-benefits .content {
    padding: 0;
  }

  #freshbites-benefits .cta-btn {
    font-size: 16px;
    height: 50px;
    width: 190px;
  }
}

@media only screen and (max-width: 375px) {
  #freshbites-benefits .content {
    padding: 0;
  }
}

/** freshbites-benefits end **/
