/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** seclayout-cta-1 start **/
#seclayout-cta-1 {
  --main-color: #333333;

  --shades-1: #2e2e2e;
  --shades-2: #292929;
  --shades-3: #242424;
  --shades-4: #1f1f1f;
  --shades-5: #1a1a1a;
  --shades-6: #141414;
  --shades-7: #0f0f0f;
  --shades-8: #0a0a0a;
  --shades-9: #050505;
  --shades-10: #000000;

  --tints-1: #474747;
  --tints-2: #5c5c5c;
  --tints-3: #707070;
  --tints-4: #858585;
  --tints-5: #999999;
  --tints-6: #adadad;
  --tints-7: #c2c2c2;
  --tints-8: #d6d6d6;
  --tints-9: #ebebeb;
  --tints-10: #ffffff;

  --secondary-color: #f5f5f5;
  --third-color: #1a1a1a;

  margin: 0;
  padding: 100px 0;
  direction: rtl;
  font-family: "Almarai", sans-serif;
  background-color: var(--tints-10);
  box-sizing: border-box;
}

#seclayout-cta-1 .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#seclayout-cta-1 .content {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 50px;
}

#seclayout-cta-1 .cta-images {
  display: flex;
  gap: 16px;
  flex: 1;
}

#seclayout-cta-1 .cta-image {
  flex: 1;
  height: 380px;
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--secondary-color);
}

#seclayout-cta-1 .cta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#seclayout-cta-1 .cta-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 450px;
}

#seclayout-cta-1 .cta-label {
  font-size: 14px;
  font-weight: 700;
  color: #3b82f6;
}

#seclayout-cta-1 .cta-title {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: var(--third-color);
}

#seclayout-cta-1 .cta-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
  color: var(--tints-3);
}

#seclayout-cta-1 .action-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

#seclayout-cta-1 .cta-btn {
  border-radius: 12px;
  color: var(--tints-10);
  font-weight: 700;
  display: block;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--third-color);
  padding: 18px 32px;
  text-align: center;
}

#seclayout-cta-1 .cta-btn[data-active_hover] {
  transition: background-color 0.26s ease-in-out;
  opacity: 0.85;
}

@media only screen and (max-width: 1024px) {
  #seclayout-cta-1 {
    padding: 70px 0;
  }

  #seclayout-cta-1 .content {
    flex-direction: column;
  }

  #seclayout-cta-1 .cta-text {
    text-align: center;
    align-items: center;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #seclayout-cta-1 .cta-images {
    flex-direction: column;
  }

  #seclayout-cta-1 .cta-image {
    height: 250px;
  }

  #seclayout-cta-1 .cta-title {
    font-size: 28px;
  }
}

/** seclayout-cta-1 end **/