/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** lawfirm-testimonials start **/

#lawfirm-testimonials {
  --main-color: #2c4e52;

  --shades-1: #28464a;
  --shades-2: #233e42;
  --shades-3: #1f3739;
  --shades-4: #1a2f31;
  --shades-5: #162729;
  --shades-6: #121f21;
  --shades-7: #0d1719;
  --shades-8: #091010;
  --shades-9: #040808;
  --shades-10: #000000;

  --tints-1: #416063;
  --tints-2: #567175;
  --tints-3: #6b8386;
  --tints-4: #809597;
  --tints-5: #96a7a9;
  --tints-6: #abb8ba;
  --tints-7: #c0cacb;
  --tints-8: #d5dcdc;
  --tints-9: #eaedee;
  --tints-10: #ffffff;

  --secondary-color: #012a2e;
  --third-color: #97a8a9;
  --fourth-color: #eff2f2;

  margin: 0;
  padding: 0;
  font-family: "Markazi Text", serif;
  background-color: var(--secondary-color);
  color: var(--tints-10);
  box-sizing: border-box;
}

#lawfirm-testimonials .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#lawfirm-testimonials .content {
  padding: 64px 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#lawfirm-testimonials .free-consultation {
  min-width: 255px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

#lawfirm-testimonials .free-consultation .dot-container {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--tints-10);
  margin: 10px;
}

#lawfirm-testimonials .free-consultation .free-consultation-text {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

#lawfirm-testimonials .text-section .title {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 50px;
  margin: 0;
}

#lawfirm-testimonials .text-section .description-container {
  font-size: 33px;
  font-weight: 400;
  margin: 50px 0;
  color: var(--tints-10);
}

#lawfirm-testimonials .text-section .line {
  width: 100%;
  height: 1px;
  background-color: var(--tints-10);
  margin: 30px 0;
}

#lawfirm-testimonials .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  user-select: none;
}

#lawfirm-testimonials .footer-container .author-info-contact {
  max-width: 611px;
  margin: 0;
}

#lawfirm-testimonials .footer-container .navigation-container {
  max-width: 80px;
}

#lawfirm-testimonials .footer-container .swiper-wrapper {
  align-items: center;
}

#lawfirm-testimonials .footer-container .swiper-slide,
#lawfirm-testimonials .footer-container .author-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#lawfirm-testimonials .footer-container .swiper-slide {
  cursor: grab;
}

#lawfirm-testimonials .footer-container .swiper-slide:active {
  cursor: grabbing;
}

#lawfirm-testimonials .footer-container .author-details-container {
  align-items: flex-end;
  flex-grow: 1;
}

#lawfirm-testimonials .footer-container .author-details-container .author-name {
  margin: 0 0 10px;
}

#lawfirm-testimonials .footer-container .author-details-container .date,
#lawfirm-testimonials .footer-container .author-details-container .author-role {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: var(--tints-10);
}

#lawfirm-testimonials .footer-container .swiper-slide .image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

#lawfirm-testimonials .footer-container .swiper-slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lawfirm-testimonials .footer-container .navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lawfirm-testimonials .footer-container .navigation-container>div {
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #lawfirm-testimonials .content {
    padding: 42px 35px;
    flex-direction: column;
    gap: 50px;
  }

  #lawfirm-testimonials .free-consultation {
    justify-content: flex-start;
  }

  #lawfirm-testimonials .footer-container .author-info-contact {
    max-width: 489px;
  }
}

@media screen and (max-width: 767px) {
  #lawfirm-testimonials .content {
    padding: 30px 0px;
  }


  #lawfirm-testimonials .footer-container .author-info-contact {
    max-width: 216px;
  }

  #lawfirm-testimonials .footer-container .author-role {
    display: none;
  }
}

/** lawfirm-testimonials end **/