/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** clean-hero start **/

#clean-hero {
  --tints-1: #fbd7b9;
  --tints-2: #fbdcc1;
  --tints-3: #fce0c8;
  --tints-4: #fce5d0;
  --tints-5: #fde9d8;
  --tints-6: #fdede0;
  --tints-7: #fef2e8;
  --tints-8: #fef6ef;
  --tints-9: #fffbf7;
  --tints-10: #ffffff;

  --shades-1: #e1be9f;
  --shades-2: #c8a98e;
  --shades-3: #af947c;
  --shades-4: #967f6a;
  --shades-5: #7d6a59;
  --shades-6: #645447;
  --shades-7: #4b3f35;
  --shades-8: #322a23;
  --shades-9: #191512;
  --shades-10: #000000;

  --btn-color: #171310;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#clean-hero {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  background-color: var(--tints-10);
}

#clean-hero .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#clean-hero .content {
  padding: 30px 17.5px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;

}

#clean-hero .hero-img,
#clean-hero .hero-content {
  width: 50%;
}

#clean-hero .hero-img {
  aspect-ratio: 1;
  overflow: hidden;
  padding: 5px 0;
}

#clean-hero .hero-img img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  transition: opacity 0.11s ease;
  opacity: 1;
}

#clean-hero .hero-img img.fade-out {
  opacity: 0;
}

#clean-hero .hero-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

#clean-hero .hero-content .hero-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

#clean-hero .hero-content .hero-txt-heading {
  margin: 0;
  color: var(--btn-color);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}

#clean-hero .hero-content .hero-txt-paragraph {
  margin: 0;
  color: var(--btn-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  max-width: 470px;
}

#clean-hero .hero-cta-container {
  margin: 2px 0;
}

#clean-hero .hero-cta-container .buy-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--btn-color);
    color: var(--tints-10);
  text-decoration: none;
}

#clean-hero .hero-cta-container .buy-cta-txt {
  margin: 0;
  color: var(--tints-10);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

#clean-hero .hero-clean-benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

#clean-hero .hero-clean-benefit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#clean-hero .hero-clean-benefit-logo {
  width: 37px;
  height: 37px;
  overflow: hidden;
  padding: 3px;
}

#clean-hero .hero-clean-benefit-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#clean-hero .hero-clean-benefit-txt {
  margin: 0;
  color: var(--btn-color);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3;
}

#clean-hero .hero-img-carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#clean-hero .hero-img-carousel-img {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 5px;
  border: 0.65px solid transparent;
  cursor: pointer;
}

#clean-hero .hero-img-carousel-img.active {
  border-color: #014035;
}

#clean-hero .hero-img-carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (min-width: 1280px) {
  #clean-hero .hero-content .hero-txt-heading {
    font-size: 58px;
  }
}

@media only screen and (max-width: 1020px) {
  #clean-hero {
    padding: 0 0 35px;
  }

  #clean-hero .container {
    padding: 0;
  }

  #clean-hero .content {
    flex-direction: column;
    padding: 0px 0 30px;
  }

  #clean-hero .hero-img,
  #clean-hero .hero-content {
    width: 100%;
  }

  #clean-hero .hero-content {
    padding: 0 16px;
  }

  #clean-hero .hero-img {
    height: 534px;
    padding: 0;
  }

  #clean-hero .hero-img img {
    border-radius: 0;
  }

  #clean-hero .hero-content .hero-txt-heading {
    font-size: 57px;
  }

  #clean-hero .hero-content .hero-txt-paragraph {
    max-width: 600px;
    font-size: 14px;
  }

  #clean-hero .hero-cta-container,
  #clean-hero .hero-cta-container .buy-cta {
    width: 100%;
  }


  #clean-hero .hero-clean-benefits {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  #clean-hero .hero-clean-benefit-txt {
    font-size: 11px;
  }
}

@media only screen and (max-width: 767px) {
  #clean-hero .hero-content .hero-txt-heading {
    font-size: 37px;
  }

  #clean-hero .hero-clean-benefits {
    grid-template-columns: repeat(2, 1fr);
  }
}

/** clean-hero end **/
