/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** ouasl-faq start **/

#ouasl-faq {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-faq {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-clip: border-box;
  background-color: var(--sec-bg-color);
  padding: 30px 0;
}

#ouasl-faq .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#ouasl-faq .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ouasl-faq .container .faq-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  max-width: 1030px;
  width: 100%;
}

#ouasl-faq .faq-header .faq-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  color: var(--txt-color);
}

#ouasl-faq .accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
}

#ouasl-faq .accordion details {
  border: 1px solid #f5f5f521;
  background-color: var(--sec-bg);
  border-radius: 13px;
  user-select: none;
  padding: 5px;
}

#ouasl-faq .accordion details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  font-size: 19px;
  cursor: pointer;
  transition: 0.18s;
  padding: 28px 33px;
  position: relative;
}

#ouasl-faq .accordion details summary .text {
  padding-left: 20px;
}

#ouasl-faq .accordion details summary .text::before {
  content: "";
  background-image: url(./faq-icon.svg);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%) rotate(0deg);
  width: 14px;
  height: 15px;
  transition: all 0.18s linear;
}

#ouasl-faq .accordion details[open] summary .text::before {
  transform: translateX(-100%) rotate(-180deg);
}

#ouasl-faq .accordion details[open] summary {
  margin-bottom: 10px;
}

#ouasl-faq .accordion details summary .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  position: relative;
  color: var(--txt-color);
}

#ouasl-faq .accordion details summary .icon {
  padding: 0;
  cursor: default;
  border: none;
  background-color: transparent;
}

#ouasl-faq .accordion details summary .icon img {
  transform: rotate(0deg);
  transition: all 0.18s linear;
}

#ouasl-faq .accordion details[open] summary .icon img {
  transform: rotate(-180deg);
}

#ouasl-faq .accordion details .description {
  color: var(--txt-color);
  line-height: 28px;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0 33px 28px;
}

@media only screen and (max-width: 767px) {
  #ouasl-faq {
    padding: 85px 0px;
  }

  #ouasl-faq .accordion {
    width: 100%;
  }

  #ouasl-faq .accordion details summary .text #saasagency-faq .accordion details summary .text::before {
    transform: translateX(-100%) rotate(0deg);
  }

  #ouasl-faq .accordion details[open] summary .text::before {
    transform: translateX(-100%) rotate(-180deg);
  }
}

/** ouasl-faq end **/