/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** amanmali-social-proof start **/

#amanmali-social-proof {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;

  font-family: "Almarai", sans-serif;
  background-color: var(--secondary-color);
  padding: 100px 0px 60px;
  box-sizing: border-box;
  direction: rtl;
}

#amanmali-social-proof .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-social-proof .content {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#amanmali-social-proof .title .text {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: var(--third-color);
}

#amanmali-social-proof .title .text span {
  font-weight: 700;
}

#amanmali-social-proof .logo-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 83px;
}

#amanmali-social-proof .logo-container .vector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}

#amanmali-social-proof .logo-container img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  #amanmali-social-proof .logo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  #amanmali-social-proof .content {
    padding: 80px 0;
  }

  #amanmali-social-proof .logo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/** amanmali-social-proof end **/