/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** tomor-benefits start **/

#tomor-benefits {
  --tints-1: #974e41;
  --tints-2: #a26156;
  --tints-3: #ae756b;
  --tints-4: #b98980;
  --tints-5: #c59d96;
  --tints-6: #d1b0ab;
  --tints-7: #dcc4c0;
  --tints-8: #e8d8d5;
  --tints-9: #f3ebea;
  --tints-10: #ffffff;

  --shades-1: #7d3428;
  --shades-2: #6f2e23;
  --shades-3: #61291f;
  --shades-4: #53231a;
  --shades-5: #461d16;
  --shades-6: #381712;
  --shades-7: #2a110d;
  --shades-8: #1c0c09;
  --shades-9: #0e0604;
  --shades-10: #000000;

  --btn-color: #8B3A2C;
  --sec-bg-color: #CFB58C;
  --main-bg-color: #fff;
  --txt-color-1: #2C110D;
  --txt-color-2: #FFFDF8;
}

#tomor-benefits {
  font-family: "El Messiri", sans-serif;
  direction: rtl;
  background-color: var(--tints-10);
  position: relative;
  padding: 40px 0px;
}

#tomor-benefits .tomor-benefits-wrapper {
  background-color: var(--btn-color);
  padding: 0px 15px;
}

#tomor-benefits .container {
  padding: 0 !important;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

#tomor-benefits .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px 20px;
  padding: 50px 0;
}

#tomor-benefits .benefit-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#tomor-benefits .benefit-box .benefit-icon {
  background-color: var(--sec-bg-color);
  width: 80px;
  height: 80px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#tomor-benefits .benefit-box .benefit-icon img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

#tomor-benefits .benefit-box .benefit-heading,
#tomor-benefits .benefit-box .benefit-paragraph {
  margin: 0;
  color: var(--txt-color-2);
}

#tomor-benefits .benefit-box .benefit-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
}

#tomor-benefits .benefit-box .benefit-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

#tomor-benefits .benefit-box .benefit-paragraph {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (max-width: 1024px) {
  #tomor-benefits {
    padding: 40px 15px;
  }

  #tomor-benefits .tomor-benefits-wrapper {
    border-radius: 20px;
}

  #tomor-benefits .content {
    background-color: var(--btn-color);
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  #tomor-benefits .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/** tomor-benefits end **/