/** css rules start **/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/** css rules end **/

/** saasagency-social-proof start **/

#saasagency-social-proof {
  --main-color: #6140ef;

  --shades-1: #573ad7;
  --shades-2: #4e33bf;
  --shades-3: #442da7;
  --shades-4: #3a268f;
  --shades-5: #312078;
  --shades-6: #271a60;
  --shades-7: #1d1348;
  --shades-8: #130d30;
  --shades-9: #0a0618;
  --shades-10: #000000;

  --tints-1: #7153f1;
  --tints-2: #8166f2;
  --tints-3: #9079f4;
  --tints-4: #a08cf5;
  --tints-5: #b0a0f7;
  --tints-6: #c0b3f9;
  --tints-7: #d0c6fa;
  --tints-8: #dfd9fc;
  --tints-9: #efecfd;
  --tints-10: #ffffff;

  --secondary-color: #77ff77;
  --third-color: #04050a;
  --fourth-color: #15151d;

  font-family: "Cairo", sans-serif;
  background-color: var(--third-color);
  color: var(--tints-10);
  box-sizing: border-box;
}

#saasagency-social-proof .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#saasagency-social-proof .content {
  padding: 100px 75px 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 41px;
}

#saasagency-social-proof .title .text {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

#saasagency-social-proof .logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 83px;
}

#saasagency-social-proof .logo-container .vector {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}

#saasagency-social-proof .logo-container img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #saasagency-social-proof .logo-container {
    grid-template-columns: repeat(6, 1fr);
  }

  #saasagency-social-proof .logo-container .vector {
    grid-column: span 2;
  }

  #saasagency-social-proof .logo-container .vector:nth-child(4) {
    grid-column: 2 / span 2;
  }

  #saasagency-social-proof .logo-container .vector:nth-child(5) {
    grid-column: 4 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #saasagency-social-proof .content {
    padding: 80px 0;
  }

  #saasagency-social-proof .logo-container {
    grid-template-columns: repeat(1, 1fr);
  }


  #saasagency-contact .form-saasagency>label:nth-of-type(1),
  #saasagency-contact .form-saasagency>label:nth-of-type(2) {
    width: 100%;
  }

  #saasagency-social-proof .logo-container .vector,
  #saasagency-social-proof .logo-container .vector:nth-child(4),
  #saasagency-social-proof .logo-container .vector:nth-child(5) {
    grid-column: unset;
  }
}

/** saasagency-social-proof end **/