/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** thobe-header start **/

#thobe-header {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-header {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  height: 126px;
}

#thobe-header .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 !important;
}

#thobe-header .upper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 100%;
  gap: 60px;
  background-color: var(--sec-bg-color);
  overflow: hidden;
}

#thobe-header .upper-header-benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  flex-shrink: 0;
  padding: 2px 0;
}

#thobe-header .upper-header .upper-header-benefit-txt {
  margin: 0;
  color: var(--tints-10);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

#thobe-header .lower-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  width: 100%;
  background-color: var(--tints-10);
}

/** thobe-header end **/

/** thobe-hero start **/

#thobe-hero {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-hero {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  height: calc(100svh - 126px);
  background-image: url(./hero-bg-img.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  position: relative;
}

#thobe-hero .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#thobe-hero .content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

#thobe-hero .content-info {
  width: 708px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 35px;
}

#thobe-hero .content-info .content-info-heading,
#thobe-hero .content-info .cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: center;
}

#thobe-hero .content-info .content-info-heading-txt {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--tints-10);
  margin: 0;
}

#thobe-hero .content-info .content-info-heading-paragraph {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--tints-10);
  margin: 0;
}

#thobe-hero .content-info .buy-cta {
  background-color: var(--tints-10);
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 18px 30px;
  box-sizing: border-box;
}

#thobe-hero .content-info .buy-cta-txt {
  color: var(--shades-10);
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

#thobe-hero .content-info .scarcity-text {
  color: var(--tints-10);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0;
}


#thobe-hero .content-info .hero-clean-benefits,
#thobe-hero .content-info .hero-clean-benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#thobe-hero .content-info .hero-clean-benefits {
  background-color: #E8E8E133;
  border-radius: 20px;
  padding: 15px 20px;
}

#thobe-hero .content-info .hero-clean-benefit {
  gap: 7px;
}

#thobe-hero .content-info .hero-clean-benefit .hero-clean-benefit-logo {
  width: 25px;
  height: 25px;
  overflow: hidden;
  padding: 2px 0;
}

#thobe-hero .content-info .hero-clean-benefit .hero-clean-benefit-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#thobe-hero .content-info .hero-clean-benefit .hero-clean-benefit-txt {
  margin: 0;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--tints-10);
}

@media screen and (max-width: 767px) {
  #thobe-hero .content-info {
    padding-bottom: 30px;
  }

  #thobe-hero .content-info .content-info-heading-txt {
    font-size: 47px;
  }

  #thobe-hero .content-info .hero-clean-benefits {
    flex-wrap: wrap;
    padding: 15px 0px;
    gap: 20px;
  }

  #thobe-hero .content-info .hero-clean-benefit {
    width: calc(50% - 20px);
  }

  #thobe-hero .content-info .hero-clean-benefit-logo {
    padding: 2px 0;
  }
}

/** thobe-hero end **/

/** thobe-price-offer start **/

#thobe-price-offer {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-price-offer {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: #F2F2EF;
  padding: 30px 0;
}

#thobe-price-offer .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#thobe-price-offer .content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
  padding: 0 17.5px;
}

#thobe-price-offer .upper-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

#thobe-price-offer .upper-content .heading-txt {
  max-width: 210px;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--shades-10);
  margin: 0;
}

#thobe-price-offer .upper-content .product-rates,
#thobe-price-offer .upper-content .product-rates-imgs,
#thobe-price-offer .upper-content .product-rates-info-stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thobe-price-offer .upper-content .product-rates {
  gap: 30px;
}

#thobe-price-offer .upper-content .product-rates-img {
  width: 45px;
  height: 45px;
  border-radius: 7px;
  background-color: var(--tints-10);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -5px;
  position: relative;
}

#thobe-price-offer .upper-content .product-rates-img:nth-last-of-type(1) {
  transform: rotate(-9.23deg);
  z-index: 1;
}

#thobe-price-offer .upper-content .product-rates-img:nth-last-of-type(2) {
  transform: rotate(10.81deg);
  z-index: 2;
}

#thobe-price-offer .upper-content .product-rates-img:nth-last-of-type(3) {
  transform: rotate(-20.92deg);
  z-index: 3;
}

#thobe-price-offer .upper-content .product-rates-img img {
  width: 90%;
  height: 90%;
  border-radius: 7px;
  object-fit: cover;
}

#thobe-price-offer .upper-content .product-rates-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

#thobe-price-offer .upper-content .product-rates-info-stars {
  gap: 3px;
}

#thobe-price-offer .upper-content .product-rates-info-star {
  padding: 2px 0;
}

#thobe-price-offer .upper-content .product-rates-info-txt {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: var(--shades-10);
}

#thobe-price-offer .lower-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-height: 672px;
  gap: 30px;
}

#thobe-price-offer .lower-content .price-timer-countdown,
#thobe-price-offer .lower-content .product-showcase-img {
  flex: 1;
}

#thobe-price-offer .lower-content .price-timer-countdown {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

#thobe-price-offer .lower-content .price-box,
#thobe-price-offer .lower-content .timer-countdown-box {
  background-color: var(--tints-10);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: calc(100% - 30px);
  box-sizing: border-box;
}

#thobe-price-offer .lower-content .timer-countdown-box {
  background-color: #E8E8E1;
}

#thobe-price-offer .lower-content .price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#thobe-price-offer .lower-content .price-wrapper .discounted-price {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.35;
  color: var(--shades-10);
  margin: 0;
}

#thobe-price-offer .lower-content .price-wrapper .original-price {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.35;
  color: var(--shades-10);
  text-decoration: line-through;
  margin: 0;
}

#thobe-price-offer .lower-content .price-box .buy-cta {
  width: fit-content;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 18px 30px;
  text-decoration: none;
}

#thobe-price-offer .lower-content .price-box .buy-cta-txt {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  color: var(--tints-10);
}

#thobe-price-offer .lower-content .timer-countdown-box .timeleft {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: var(--btn-color);
}

#thobe-price-offer .lower-content .timer-countdown-box .timer-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#thobe-price-offer .lower-content .timer-countdown-box .timer-countdown>div {
  background-color: var(--btn-color);
  width: 90px;
  aspect-ratio: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  position: relative;
}

#thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-countdown-hours::before {
  content: ":";
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-62%);
  color: var(--btn-color);
  font-size: 70px;
}

#thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-countdown-hours::after {
  content: ":";
  position: absolute;
  right: -21px;
  top: 50%;
  transform: translateY(-62%);
  color: var(--btn-color);
  font-size: 70px;
}

#thobe-price-offer .lower-content .timer-countdown-box .timer-countdown>div p {
  margin: 0;
  color: var(--tints-10);
  line-height: .5;
}

#thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-digits {
  font-size: 40px;
  font-weight: 500;
}

#thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-txt {
  font-size: 15px;
  font-weight: 700;
}

#thobe-price-offer .lower-content .product-showcase-img {
  overflow: hidden;
  padding: 2px 0;
}

#thobe-price-offer .lower-content .product-showcase-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 1020px) {
  #thobe-price-offer .lower-content .price-wrapper .discounted-price {
    font-size: 42px;
  }

  #thobe-price-offer .lower-content .price-wrapper .original-price {
    font-size: 20px;
  }

  #thobe-price-offer .lower-content .price-box .buy-cta-txt {
    font-size: 16px;
  }

  #thobe-price-offer .lower-content .timer-countdown-box .timer-countdown {
    gap: 20px;
  }

  #thobe-price-offer .lower-content .timer-countdown-box .timer-countdown>div {
    width: 80px;
  }

  #thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-countdown-hours::before {
    left: -19px;
  }

  #thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-countdown-hours::after {
    right: -17px;
  }

  #thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-digits {
    font-size: 30px;
  }

  #thobe-price-offer .lower-content .timer-countdown-box .timer-countdown .timer-txt {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  #thobe-price-offer .content {
    padding: 0;
  }

  #thobe-price-offer .upper-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  #thobe-price-offer .lower-content {
    flex-direction: column;
    max-height: unset;
  }

  #thobe-price-offer .lower-content .price-box,
  #thobe-price-offer .lower-content .timer-countdown-box {
    height: 322px;
  }

  #thobe-price-offer .lower-content .product-showcase-img {
    aspect-ratio: 1;
  }
}

/** thobe-price-offer end **/

/** thobe-benefits start **/

#thobe-benefits {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-benefits {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: #F2F2EF;
  padding: 30px 0;
}

#thobe-benefits .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#thobe-benefits .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 17.5px;
}

#thobe-benefits .content .benefit-box {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 30px 20px;
}

#thobe-benefits .content .benefit-box .logo-wrapper {
  padding: 2px 0;
}

#thobe-benefits .content .benefit-txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--shades-10);
  text-align: center;
}

@media screen and (max-width: 767px) {
  #thobe-benefits .content {
    padding: 0;
  }
}

/** thobe-benefits end **/

/** thobe-cta start **/

#thobe-cta {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-cta {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: #F2F2EF;
  padding: 30px 0;
}

#thobe-cta .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#thobe-cta .content {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  margin: 0 17.5px;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thobe-cta .content .buy-cta {
  width: fit-content;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 18px 30px;
  text-decoration: none;
}

#thobe-cta .content .buy-cta-txt {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  color: var(--tints-10);
}

@media screen and (max-width: 767px) {
  #thobe-cta .content {
    padding: 50px 0;
    margin: 0;
  }
}

/** thobe-cta end **/

/** thobe-testimonials start **/

#thobe-testimonials {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-testimonials {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: #F2F2EF;
  padding: 30px 0;
}

#thobe-testimonials .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#thobe-testimonials .content {
  background-color: var(--tints-10);
  border-radius: 20px;
  margin: 0 17.5px;
  padding: 60px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}


#thobe-testimonials .content .heading-txt {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--shades-10);
}

#thobe-testimonials .content .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  width: 100%;
  height: 580px;
  position: relative;
  padding: 10px;
}

#thobe-testimonials .content .swiper,
#thobe-testimonials .content .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#thobe-testimonials .content .swiper-slide {
  padding: 2px 0;
}

#thobe-testimonials .content .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

#thobe-testimonials .content .swiper-pagination {
  position: relative;
  width: 100% !important;
  display: none;
}

#thobe-testimonials .content .swiper-pagination-bullet-active {
  background: var(--btn-color);
}

@media screen and (max-width: 1279px) {
  #thobe-testimonials .content .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  #thobe-testimonials .content {
    padding: 50px 0;
    margin: 0;
  }
}

/** thobe-testimonials end **/

/** thobe-guarantie start **/

#thobe-guarantie {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-guarantie {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: #F2F2EF;
  padding: 30px 0;
}

#thobe-guarantie .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

#thobe-guarantie .content {
  background-image: url(./thobe-guarantie-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 0 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  height: 430px;
}

#thobe-guarantie .content .heading,
#thobe-guarantie .content .buy-cta {
  width: 100%;
  text-align: center;
}

#thobe-guarantie .content .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

#thobe-guarantie .content .heading-txt {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.35;
  margin: 0;
  color: var(--tints-10);
}

#thobe-guarantie .content .heading-paragraph {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.35;
  margin: 0;
  color: var(--tints-10);
}

#thobe-guarantie .content .buy-cta {
  width: fit-content;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--tints-10);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 18px 30px;
  text-decoration: none;
}

#thobe-guarantie .content .buy-cta-txt {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  color: var(--shades-10);
}

@media screen and (max-width: 767px) {
  #thobe-guarantie .content {
    padding: 50px 15px;
    margin: 0;
  }

  #thobe-guarantie .inner-content {
    height: unset;

  }

  #thobe-guarantie .content .heading-paragraph {
    font-size: 20px;
  }
}

/** thobe-guarantie end **/

/** thobe-form start **/

#thobe-form {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-form {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: #F2F2EF;
  padding: 30px 0;
}

#thobe-form .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

#thobe-form .content {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
  margin: 0 17.5px;
}

#thobe-form .form-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 360px;
}

#thobe-form .form-heading-txt,
#thobe-form .form-heading-paragraph {
  margin: 0;
  color: var(--shades-10);
  line-height: 1.25;
}

#thobe-form .form-heading-txt {
  font-size: 45px;
  font-weight: 700;
}

#thobe-form .form-heading-paragraph {
  font-size: 18px;
  font-weight: 500;
}

#thobe-form .form-wrapper {
  max-width: 600px;
}

#thobe-form .form-thobe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}

#thobe-form .form-thobe .half-span {
  width: calc(50% - 10px);
}

#thobe-form .form-thobe>label,
#thobe-form .form-thobe>.ouasl_field-radios {
  width: 100%;
}

#thobe-form .form-thobe label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

#thobe-form .form-thobe label .ouasl_field-title,
#thobe-form .form-thobe label .ouasl_field-title+input,
#thobe-form .form-thobe .ouasl_field-radios .option-description-title,
#thobe-form .form-thobe .ouasl_field-checkbox .ouasl_field-checkbox_title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--sec-bg-color);
  margin: 0;
}

#thobe-form .form-thobe label .ouasl_field-title+input {
  border: 0;
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;
  direction: rtl;
}

#thobe-form .form-thobe .ouasl_field-radios,
#thobe-form .form-thobe .ouasl_field-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
}

#thobe-form .form-thobe .ouasl_field-radios .ouasl_field-radios_title,
#thobe-form .form-thobe .ouasl_field-checkbox .ouasl_field-checkbox_title {
  width: 100%;
}

#thobe-form .form-thobe .ouasl_field-radios .radio,
#thobe-form .form-thobe .ouasl_field-checkbox .radio {
  flex: 1;
  height: 45px;
  background-color: #F6F6F6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

#thobe-form .form-thobe .ouasl_field-radios .radio.active,
#thobe-form .form-thobe .ouasl_field-checkbox .radio.active {
  background-color: var(--sec-bg-color);
}

#thobe-form .form-thobe .ouasl_field-radios .radio .ouasl_field-title {
  color: var(--sec-bg-color);
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

#thobe-form .form-thobe .ouasl_field-radios .radio.active .ouasl_field-title,
#thobe-form .form-thobe .ouasl_field-checkbox .radio.active .ouasl_field-title {
  color: var(--main-bg-color);
}

#thobe-form .form-thobe .ouasl_field-radios .radio input,
#thobe-form .form-thobe .ouasl_field-checkbox .radio input {
  display: none;
}


#thobe-form .form-thobe ::placeholder,
#thobe-form .form-thobe ::placeholder {
  color: #C7C7C7;
  font-family: "Tajawal", sans-serif;
}

#thobe-form .form-thobe label textarea {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  box-sizing: border-box;
  resize: vertical;
}

#thobe-form .form-thobe label select {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  box-sizing: border-box;
}

#thobe-form .form-thobe label select option {
  color: var(--sec-bg-color);

}

#thobe-form .form-thobe .btn-cta {
  width: 100%;
}

#thobe-form .form-thobe .button-cta {
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sec-bg-color);
  color: var(--main-bg-color);
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  padding: 18px 0;
  border: none;
  cursor: pointer;
  font-family: "Tajawal", sans-serif;
}

#thobe-form .form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#thobe-form .form-footer-paragraph {
  max-width: 354px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  color: var(--sec-bg-color);
}

@media screen and (max-width: 767px) {
  #thobe-form .content {
    margin: 0;
    padding: 50px 20px;
    margin: 0;
  }

  #thobe-form .content .form-heading,
  #thobe-form .content .form-wrapper {
    max-width: unset;
  }

  #thobe-form .form-thobe .half-span {
    width: 100%;
  }

  #thobe-form .form-thobe .ouasl_field-radios .radio .ouasl_field-title {
    font-size: 15px;
  }
}

/** thobe-form end **/


/** thobe-footer start **/

#thobe-footer {
  --tints-1: #62615e;
  --tints-2: #737270;
  --tints-3: #858482;
  --tints-4: #969594;
  --tints-5: #a8a7a6;
  --tints-6: #b9b9b7;
  --tints-7: #cbcac9;
  --tints-8: #dcdcdb;
  --tints-9: #eeeded;
  --tints-10: #ffffff;

  --shades-1: #484744;
  --shades-2: #403f3d;
  --shades-3: #383735;
  --shades-4: #302f2e;
  --shades-5: #282826;
  --shades-6: #20201e;
  --shades-7: #181817;
  --shades-8: #10100f;
  --shades-9: #080808;
  --shades-10: #000000;

  --btn-color: #8E5437;
  --sec-bg-color: #504F4C;
  --main-bg-color: #E8E8E1;
}

#thobe-footer {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: var(--tints-10);
}

#thobe-footer .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#thobe-footer .content {
  width: 125px;
  margin: 0 auto;
  padding: 18px 0;
  overflow: hidden;
}

#thobe-footer .content img {
  width: 100%;
  object-fit: contain;
}

/** thobe-footer end **/