/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** ouasl-header start **/

body {
  background-color: #000000;
}

#ouasl-header {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #FAD3B1;
  --main-bg-color: #F3ECE9;
}

#ouasl-header {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  height: 128px;
  position: fixed;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
}

#ouasl-header .container {
  height: 100%;
}

#ouasl-header .content {
  max-width: 1080px;
  border: 0.75px solid #898E93;
  display: flex;
}

/** ouasl-header end **/