/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** ouasl-header start **/

#ouasl-header {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-header {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  height: 128px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

#ouasl-header .container {
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

#ouasl-header .content {
  max-width: 1080px;
  width: 100%;
  margin: 25px auto 0;
  border: 0.75px solid #898E93;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border: 1px solid #898E93;
  border-radius: 25px;
  box-shadow: 0px 4px 8px 0px #00000014;
  backdrop-filter: blur(25px);
  box-sizing: border-box;
}

#ouasl-header .content .logo img {
  width: 65px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}

#ouasl-header .content .ouasl-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

#ouasl-header .content .ouasl-menu .link {
  color: var(--txt-color);
  text-decoration: none;
  transition: .44s;
}

#ouasl-header .content .ouasl-menu .link:hover {
  color: var(--btn-color);
}

#ouasl-header .content .header-cta .register {
  display: block;
  color: var(--txt-color);
  background-color: var(--btn-color);
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 15px;
  padding: 15px 40px;
}

#ouasl-header .content .drop-down {
  display: none;
}

@media screen and (max-width: 1020px) {
  #ouasl-header .content {
    flex-direction: column;
    max-height: 66.4px;
    transition: max-height .44s;
    overflow: hidden;
    padding: 15px 20px;
  }

  #ouasl-header .content.open {
    max-height: 758px;
  }

  #ouasl-header .content .logo {
    width: 100%;
  }

  #ouasl-header .content .drop-down {
    display: block;
    position: absolute;
    left: 20px;
    top: 10px;
    transform: translateY(70%);
  }

  #ouasl-header .content .ouasl-menu .link,
  #ouasl-header .content .header-cta .register {
    pointer-events: none;
    opacity: 0;
    transition: opacity .44s;
  }

  #ouasl-header .content.open .ouasl-menu .link,
  #ouasl-header .content.open .header-cta .register {
    pointer-events: unset;
    opacity: 1;
  }

  #ouasl-header .content .ouasl-menu {
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }
}

/** ouasl-header end **/

/** ouasl-hero start **/

#ouasl-hero {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-hero {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  height: 100vh;
  background-image: url(./Background-scaled.webp);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

#ouasl-hero .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#ouasl-hero .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

#ouasl-hero .heading-paragraph {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#ouasl-hero .heading-paragraph .heading-txt,
#ouasl-hero .heading-paragraph .paragraph-txt {
  margin: 0;
  color: var(--txt-color);
  line-height: 1.1;
}

#ouasl-hero .heading-paragraph .heading-txt {
  font-size: 60px;
  font-weight: 700;
  max-width: 840px;
}

#ouasl-hero .heading-paragraph .paragraph-txt {
  font-size: 18px;
  font-weight: 500;
  max-width: 486px;
}

#ouasl-hero .form-social-proof {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 469px;
  width: 100%;
}

#ouasl-hero .form-ouasl {
  position: relative;
}

#ouasl-hero .form-ouasl,
#ouasl-hero .form-ouasl label.email,
#ouasl-hero .form-ouasl label.email input {
  width: 100%;
}

#ouasl-hero .form-ouasl label.email {
  display: block;
}

#ouasl-hero .form-ouasl label.email input,
#ouasl-hero .form-ouasl label.email input::placeholder {
  color: #898E93;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  font-family: "Tajawal", sans-serif;
}

#ouasl-hero .form-ouasl label.email input {
  border: 0.75px solid #898E93;
  background-color: var(--sec-bg-color);
  border-radius: 20px;
  padding: 18px 20px;
  box-sizing: border-box;
}

#ouasl-hero .form-ouasl .submit-btn {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#ouasl-hero .form-ouasl .submit-btn .subscribe {
  background-color: var(--btn-color);
  color: var(--txt-color);
  padding: 12px 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

#ouasl-hero .social-proof-wrapper,
#ouasl-hero .social-proof,
#ouasl-hero .social-proof-imgs,
#ouasl-hero .social-proof-wrapper .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#ouasl-hero .social-proof-wrapper {
  flex-direction: column;
}

#ouasl-hero .social-proof-imgs {
  gap: 0px;
}

#ouasl-hero .social-proof-img {
  padding: 3px 0;
  margin-right: -15px;
}

#ouasl-hero .social-proof-img img {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  object-fit: cover;
}

#ouasl-hero .social-proof-wrapper .social-proof-txt {
  color: var(--txt-color);
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
}

#ouasl-hero .social-proof-wrapper .social {
  display: block;
  padding: 3px;
}

#ouasl-hero .social-proof-wrapper .social img {
  width: 15px;
  height: 15px;
  overflow: hidden;
  object-fit: cover;
}

@media screen and (max-width: 767px) {

  #ouasl-hero .heading-paragraph .heading-txt,
  #ouasl-hero .heading-paragraph .paragraph-txt,
  #ouasl-hero .form-social-proof {
    max-width: unset;
  }

  #ouasl-hero .heading-paragraph .heading-txt {
    font-size: 32px;
  }

  #ouasl-hero .heading-paragraph .paragraph-txt {
    font-size: 15px;
  }

  #ouasl-hero .social-proof {
    flex-direction: column;
  }


  #ouasl-hero .form-ouasl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  #ouasl-hero .form-ouasl .submit-btn,
  #ouasl-hero .form-ouasl .submit-btn .subscribe {
    position: relative;
    width: 100%;
    top: unset;
    left: unset;
    transform: unset;
  }

  #ouasl-hero .form-ouasl label.email input,
  #ouasl-hero .form-ouasl .submit-btn .subscribe {
    padding: 16px 20px;
  }
}

/** ouasl-hero end **/

/** ouasl-video start **/

#ouasl-video {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-video {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-clip: border-box;
  background-color: var(--sec-bg-color);
}

#ouasl-video .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#ouasl-video .content {
  padding: 0 67.5px;
}

#ouasl-video .image-container {
  padding: 5px 0;
}

#ouasl-video .image-container iframe {
  width: 100%;
  height: 767px;
  margin-top: 66px;
  border-radius: 13px;
  padding: 5px 0;
  overflow: hidden;
}

@media screen and (max-width: 1020px) {
  #ouasl-video .content {
    padding: 0;
  }
}

/** ouasl-video end **/

/** ouasl-benefits start **/

#ouasl-benefits {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-benefits {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-clip: border-box;
  background-color: var(--sec-bg-color);
  padding: 30px 0;
}

#ouasl-benefits .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#ouasl-benefits .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 0 67.5px;
}

#ouasl-benefits .benefits-heading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 460px;
}

#ouasl-benefits .benefits-heading .heading-txt,
#ouasl-benefits .benefits-heading .heading-paragraph {
  margin: 0;
  color: var(--txt-color);
}

#ouasl-benefits .benefits-heading .heading-txt {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

#ouasl-benefits .benefits-heading .heading-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

#ouasl-benefits .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#ouasl-benefits .cards .card {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#ouasl-benefits .cards .card:nth-child(1) {
  background-color: #B6DBFF;
}

#ouasl-benefits .cards .card:nth-child(2) {
  background-color: #EAE5FF;
}

#ouasl-benefits .cards .card:nth-child(3) {
  background-color: #FFD7B9;
}

#ouasl-benefits .cards .card:nth-child(4) {
  background-color: #B5EBDD;
}

#ouasl-benefits .cards .card:nth-child(5) {
  background-color: #FFF1AE;
}

#ouasl-benefits .cards .card:nth-child(6) {
  background-color: #9CC6F4;
}

#ouasl-benefits .cards .card:nth-child(7) {
  background-color: #E7F1FC;
}

#ouasl-benefits .cards .card:nth-child(8) {
  background-color: #B2E8B9;
}

#ouasl-benefits .cards .card-img {
  width: 100%;
  height: 380px;
  overflow: hidden;
  padding: 3px 0;
}

#ouasl-benefits .cards .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

#ouasl-benefits .cards .card-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#ouasl-benefits .cards .card-txt .card-heading,
#ouasl-benefits .cards .card-txt .card-paragragh {
  margin: 0;
  color: var(--sec-bg-color);
}

#ouasl-benefits .cards .card-txt .card-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

#ouasl-benefits .cards .card-txt .card-paragragh {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (max-width: 1020px) {
  #ouasl-benefits .content {
    padding: 0;
  }

  #ouasl-benefits .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* #ouasl-brand-trust start */

#ouasl-brand-trust {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-brand-trust {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-clip: border-box;
  background-color: var(--sec-bg-color);
  padding: 30px 0;
}

#ouasl-brand-trust .brand-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

#ouasl-brand-trust .brand-heading .brand-heading-txt,
#ouasl-brand-trust .brand-heading .brand-heading-paragraph {
  margin: 0;
  color: var(--txt-color);
}

#ouasl-brand-trust .brand-heading .brand-heading-txt {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

#ouasl-brand-trust .brand-heading .brand-heading-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

#ouasl-brand-trust .stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;
  --gap: 50px;
  display: flex;
  gap: var(--gap);
  direction: ltr;
  height: 150px;
  display: flex;
  position: relative;
}

#ouasl-brand-trust .stock-ticker .before,
#ouasl-brand-trust .stock-ticker .after {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

#ouasl-brand-trust .stock-ticker .before {
  left: 0;
  background: linear-gradient(to right, var(--sec-bg-color) 70%, transparent);
}

#ouasl-brand-trust .stock-ticker .after {
  right: 0;
  background: linear-gradient(to left, var(--sec-bg-color) 70%, transparent);
}

#ouasl-brand-trust .stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

#ouasl-brand-trust .stock-ticker:hover ul {
  animation-play-state: paused;
}

#ouasl-brand-trust .stock-ticker ul img {
  height: 40px;
}

@media only screen and (max-width: 1024px) {
  #ouasl-brand-trust .stock-ticker ul img {
    height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  #ouasl-brand-trust .stock-ticker ul {
    gap: 70px;
  }

  #ouasl-brand-trust .stock-ticker ul img {
    max-height: 30px;
  }
}

@media only screen and (max-width: 375px) {
  #ouasl-brand-trust .stock-ticker ul {
    gap: 40px;
  }

  #ouasl-brand-trust .stock-ticker ul img {
    max-height: 30px;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/** ouasl-benefits end **/

/** ouasl-faq start **/

#ouasl-faq {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-faq {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-clip: border-box;
  background-color: var(--sec-bg-color);
  padding: 30px 0;
}

#ouasl-faq .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#ouasl-faq .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ouasl-faq .container .faq-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  max-width: 1030px;
  width: 100%;
}

#ouasl-faq .faq-header .faq-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  color: var(--txt-color);
}

#ouasl-faq .accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
}

#ouasl-faq .accordion details {
  border: 1px solid #f5f5f521;
  background-color: var(--sec-bg);
  border-radius: 13px;
  user-select: none;
  padding: 5px;
}

#ouasl-faq .accordion details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  font-size: 19px;
  cursor: pointer;
  transition: 0.18s;
  padding: 28px 33px;
  position: relative;
}

#ouasl-faq .accordion details summary .text {
  padding-left: 20px;
}

#ouasl-faq .accordion details summary .text::before {
  content: "";
  background-image: url(./faq-icon.svg);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%) rotate(0deg);
  width: 14px;
  height: 15px;
  transition: all 0.18s linear;
}

#ouasl-faq .accordion details[open] summary .text::before {
  transform: translateX(-100%) rotate(-180deg);
}

#ouasl-faq .accordion details[open] summary {
  margin-bottom: 10px;
}

#ouasl-faq .accordion details summary .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  position: relative;
  color: var(--txt-color);
}

#ouasl-faq .accordion details summary .icon {
  padding: 0;
  cursor: default;
  border: none;
  background-color: transparent;
}

#ouasl-faq .accordion details summary .icon img {
  transform: rotate(0deg);
  transition: all 0.18s linear;
}

#ouasl-faq .accordion details[open] summary .icon img {
  transform: rotate(-180deg);
}

#ouasl-faq .accordion details .description {
  color: var(--txt-color);
  line-height: 28px;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0 33px 28px;
}

@media only screen and (max-width: 767px) {
  #ouasl-faq {
    padding: 85px 0px;
  }

  #ouasl-faq .accordion {
    width: 100%;
  }

  #ouasl-faq .accordion details summary .text #saasagency-faq .accordion details summary .text::before {
    transform: translateX(-100%) rotate(0deg);
  }

  #ouasl-faq .accordion details[open] summary .text::before {
    transform: translateX(-100%) rotate(-180deg);
  }
}

/** saasagency-faq end **/

/** ouasl-footer start **/

#ouasl-footer {
  --tints-1: #2582e6;
  --tints-2: #3d90e9;
  --tints-3: #569eeb;
  --tints-4: #6eacee;
  --tints-5: #86baf1;
  --tints-6: #9ec7f4;
  --tints-7: #b6d5f7;
  --tints-8: #cfe3f9;
  --tints-9: #e7f1fc;
  --tints-10: #ffffff;

  --shades-1: #0c68cc;
  --shades-2: #0a5db6;
  --shades-3: #09519f;
  --shades-4: #084688;
  --shades-5: #073a72;
  --shades-6: #052e5b;
  --shades-7: #042344;
  --shades-8: #03172d;
  --shades-9: #010c17;
  --shades-10: #000000;

  --btn-color: #0D74E3;
  --sec-bg-color: #010202;
  --main-bg-color: #121416;
  --txt-color: #F5F5F5;
}

#ouasl-footer {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-clip: border-box;
  background-image: url(./footer-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 30px 0;
}

#ouasl-footer .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#ouasl-footer .container .content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 125px;
  padding: 0 67.5px;
}

#ouasl-footer .content .upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

#ouasl-footer .content .upper .logo-paragraph {
  max-width: 160px;
}

#ouasl-footer .content .upper .logo-paragraph-txt {
  color: var(--txt-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

#ouasl-footer .content .upper .footer-cta,
#ouasl-footer .content .upper .footer-cta-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 35px;
}

#ouasl-footer .content .upper .footer-cta {
  max-width: 620px;
}

#ouasl-footer .content .upper .footer-cta-heading {
  gap: 20px;
}

#ouasl-footer .content .upper .footer-cta-heading-txt,
#ouasl-footer .content .upper .footer-cta-paragraph-txt {
  margin: 0;
  color: var(--txt-color);
}

#ouasl-footer .content .upper .footer-cta-heading-txt {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  max-width: 378px;
}

#ouasl-footer .content .upper .footer-cta-paragraph-txt {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

#ouasl-footer .content .upper .footer-cta .header-cta {
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

#ouasl-footer .content .upper .footer-cta .get-started {
  display: block;
  background-color: var(--btn-color);
  color: var(--txt-color);
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding: 20px 50px;
  text-decoration: none;
  width: fit-content;
}

#ouasl-footer .content .lower,
#ouasl-footer .content .lower .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ouasl-footer .content .lower .social {
  padding: 3px;
}

#ouasl-footer .content .lower {
  width: 100%;
}

#ouasl-footer .content .lower .copyright-txt {
  color: var(--txt-color);
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}

#ouasl-footer .content .lower .socials {
  gap: 20px;
}

@media screen and (max-width: 1020px) {
  #ouasl-footer .container .content {
    padding: 0;
    gap: 50px;
  }

  #ouasl-footer .content .upper {
    flex-direction: column;
    align-items: center;
  }

  #ouasl-footer .content .upper .footer-cta-heading {
    text-align: center;
  }

  #ouasl-footer .content .upper .footer-cta-heading-txt {
    max-width: unset;
  }

  #ouasl-footer .content .upper .footer-cta .cta-btn {
    margin: 0 auto;
  }

  #ouasl-footer .content .lower {
    flex-direction: column;
    gap: 30px;
  }
}

/** ouasl-footer end **/