/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** athar-testimonials start **/

#athar-testimonials {
  --main-color: #fff;
  --secondary-color: #060606;
  --third-color: #303030;
  --fourth-color: #fff;
}

#athar-testimonials {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: var(--secondary-color);
  padding: 50px 0;
}

#athar-testimonials .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}

#athar-testimonials .content {
  border-radius: 35px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#athar-testimonials .content .section-heading-txt {
  color: var(--fourth-color);
  margin: 0;
  text-align: center;
}

#athar-testimonials .content .swiper {
  padding: 50px 0;
  box-sizing: border-box;
  width: 100%;
}

#athar-testimonials .content .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 35px;
  background: #303030;
  padding: 30px;
  box-sizing: border-box;
  transform: scale(.8);
  opacity: .3;
  transition: .44s;
}

#athar-testimonials .content .swiper-slide .author-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

#athar-testimonials .content .swiper-slide .author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#athar-testimonials .content .swiper-slide.swiper-slide-active {
  transform: scale(1.2);
  opacity: 1;
}

#athar-testimonials .content .swiper-slide .author-position-paragraph,
#athar-testimonials .content .swiper-slide .author-testimonial-paragraph {
  color: var(--fourth-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin: 0;
}

#athar-testimonials .content .swiper-slide .swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  border: 1px solid #fff;
  background-color: red;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
  &.swiper-pagination-bullets-dynamic {
    bottom: 0;
  }
}

.swiper-pagination-bullets-dynamic {
  .swiper-pagination-bullet {
    background: white;
  }
}

@media screen and (max-width: 767px) {
  #athar-testimonials .content {
    padding: 16px 0;
  }

  #athar-testimonials .content .swiper {
    padding: 30px 40px;
  }
}

/** athar-testimonials end **/
