/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** timelime-hero start **/

#timelime-hero {
  --main-color: #00382B;

  --shades-1: #003227;
  --shades-2: #002d22;
  --shades-3: #00271e;
  --shades-4: #00221a;
  --shades-5: #001c16;
  --shades-6: #001611;
  --shades-7: #00110d;
  --shades-8: #000b09;
  --shades-9: #000604;
  --shades-10: #000000;

  --tints-1: #1a4c40;
  --tints-2: #336055;
  --tints-3: #4d746b;
  --tints-4: #668880;
  --tints-5: #809c95;
  --tints-6: #99afaa;
  --tints-7: #b3c3bf;
  --tints-8: #ccd7d5;
  --tints-9: #e6ebea;
  --tints-10: #ffffff;

  --secondary-color: #024B3A;
  --third-color: #00664E;

  font-family: "Almarai", serif;
  direction: rtl;
  background-color: var(--tints-10);
  box-sizing: border-box;
  padding: 30px 0;
}

#timelime-hero .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--main-color);
  border-radius: 26px;
  overflow: hidden;
}

#timelime-hero .container .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 15px;
  gap: 30px;
}

#timelime-hero .container .content>div {
  width: 50%;
}

#timelime-hero .container .content .text-container,
#timelime-hero .container .content .main-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#timelime-hero .container .content .main-text-title {
  max-width: 407px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.35;
  color: var(--tints-10);
  margin: 0;
}

#timelime-hero .container .content .main-text-paragraph {
  max-width: 452px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--tints-10);
  margin: 0;
}

#timelime-hero .container .content .divider {
  width: 100%;
  height: 0.75px;
  background-color: #FFFFFF80;
}

#timelime-hero .container .product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timelime-hero .container .product-container,
#timelime-hero .container .product-cta-container {
  width: 100%;
  padding: 0 2px;
}

#timelime-hero .container .product-cta-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

#timelime-hero .container .product-cta-container .product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#timelime-hero .container .product-cta-container .product-info .product-title,
#timelime-hero .container .product-cta-container .product-price {
  margin: 0;
  color: var(--tints-10);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}

#timelime-hero .container .product-cta-container .product-price {
  font-weight: 700;
}

#timelime-hero .container .product-cta-container .product-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding: 2px;
}

#timelime-hero .container .product-cta-container .product-img img {
  border-radius: 8px;
  width: 100%;
}

#timelime-hero .container .cta-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

#timelime-hero .container .cta-container .buy-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--tints-10);
  width: 100%;
  text-decoration: none;
  padding: 18px 0;
  border-radius: 13px;
  overflow: hidden;
  margin: 2px 0;
}

#timelime-hero .container .cta-container .buy-cta-txt {
  color: #494949;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

#timelime-hero .container .cta-container .scarcity-text {
  margin: 0;
  color: var(--tints-10);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

#timelime-hero .container .social-proof {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

#timelime-hero .container .social-proof .social-proof-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 2px 0;
  min-height: 23px;
}

#timelime-hero .container .social-proof .social-proof-stars-img {
  width: 15px;
  height: 15px;
  padding: 2px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timelime-hero .container .social-proof .social-proof-stars-img img {
  width: 100%;
  object-fit: cover;
}

#timelime-hero .container .social-proof .social-proof-bias {
  margin: 0;
  color: var(--tints-10);
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
}

#timelime-hero .container .timelime-product-advantages,
#timelime-hero .container .timelime-product-advantage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 2px 0;
}

#timelime-hero .container .timelime-product-advantages {
  flex-wrap: wrap;
}

#timelime-hero .container .timelime-product-advantage-logo {
  padding: 2px 0;
}

#timelime-hero .container .timelime-product-advantage-info {
  margin: 0;
  color: var(--tints-10);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

#timelime-hero .container .content .img-container {
  overflow: hidden;
  padding: 2px;
}

#timelime-hero .container .content .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 26px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  #timelime-hero .container .content {
    flex-direction: column-reverse;
  }

  #timelime-hero .container .content>div {
    width: 100%;
  }

  #timelime-hero .container .content .main-text-title {
    max-width: 600px;
    font-size: 70px;
  }

  #timelime-hero .container .content .main-text-paragraph {
    max-width: 677px;
    font-size: 22px;
  }

  #timelime-hero .container .product-cta-container .product-info .product-title,
  #timelime-hero .container .product-cta-container .product-price {
    font-size: 18px;
  }

  #timelime-hero .container .cta-container .buy-cta-txt,
  #timelime-hero .container .cta-container .scarcity-text {
    font-size: 18px;
  }

  #timelime-hero .container .social-proof .social-proof-bias,
  #timelime-hero .container .timelime-product-advantage-info {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  #timelime-hero {
    padding: 16px;
  }

  #timelime-hero .container .content {
    padding: 16px 1px;
  }

  #timelime-hero .container .content .main-text-title {
    max-width: 238px;
    font-size: 30px;
  }

  #timelime-hero .container .content .main-text-paragraph {
    max-width: unset;
    font-size: 12px;
  }

  #timelime-hero .container .product-cta-container .product-info .product-title,
  #timelime-hero .container .product-cta-container .product-price {
    font-size: 12px;
  }

  #timelime-hero .container .cta-container .scarcity-text {
    font-size: 10px;
  }

  #timelime-hero .container .social-proof .social-proof-bias,
  #timelime-hero .container .timelime-product-advantage-info {
    font-size: 11px;
  }
}

/** timelime-hero end **/