/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** Lawfirm-results start **/

#lawfirm-results {
  --main-color: #2c4e52;

  --shades-1: #28464a;
  --shades-2: #233e42;
  --shades-3: #1f3739;
  --shades-4: #1a2f31;
  --shades-5: #162729;
  --shades-6: #121f21;
  --shades-7: #0d1719;
  --shades-8: #091010;
  --shades-9: #040808;
  --shades-10: #000000;

  --tints-1: #416063;
  --tints-2: #567175;
  --tints-3: #6b8386;
  --tints-4: #809597;
  --tints-5: #96a7a9;
  --tints-6: #abb8ba;
  --tints-7: #c0cacb;
  --tints-8: #d5dcdc;
  --tints-9: #eaedee;
  --tints-10: #ffffff;

  --secondary-color: #012a2e;
  --third-color: #97a8a9;
  --fourth-color: #eff2f2;

  margin: 0;
  padding: 0;
  font-family: "Markazi Text", serif;
  color: var(--secondary-color);
  background-color: #E6EAEA;
  box-sizing: border-box;
}

#lawfirm-results .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#lawfirm-results .content {
  padding: 90px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 70px;
}

#lawfirm-results .header-container,
#lawfirm-results .clients-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 70px;
}

#lawfirm-results .clients-container {
  width: 100%;
}

#lawfirm-results .header-container>div:first-of-type,
#lawfirm-results .clients-container>div:first-of-type {
  min-width: 135px;
}

#lawfirm-results .clients-container>div:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#lawfirm-results .header-container>div:first-of-type .consultation-text {
  margin: 0;
}

#lawfirm-results .header-container .header-text {
  max-width: 500px;
  font-size: 80px;
  font-weight: 600;
  margin: 0;
}

#lawfirm-results .header-container .consultation-container,
#lawfirm-results .clients-container .filter-option-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#lawfirm-results .header-container .consultation-icon-container,
#lawfirm-results .clients-container .filter-option-container .filter-option {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin: 10px;
  flex-shrink: 0;
}

#lawfirm-results .clients-container .filter-option-container .filter-option-text {
  margin: 0;
}

#lawfirm-results .clients-container .filter-option-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

#lawfirm-results .clients-container .filter-option-list .filter-option {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--shades-10);
  text-decoration: none;
}

#lawfirm-results .clients-container .filter-option-list .filter-option:hover {
  text-decoration: underline;
}

#lawfirm-results .clients-container .client-info-container {
  flex-grow: 1;
}

#lawfirm-results .clients-container .client-info-row-link {
  color: var(--black-color);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6C8386;
  text-decoration: none;
}

#lawfirm-results .clients-container .client-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

#lawfirm-results .clients-container .client-info-row-link .client-name {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}

#lawfirm-results .clients-container .client-info-row-link .client-description {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: var(--secondary-color);
}

@media screen and (max-width: 1024px) {
  #lawfirm-results .content {
    padding: 90px 35px;
  }

  #lawfirm-results .header-container .header-text {
    max-width: 463px;
    font-size: 74px;
  }
}

@media screen and (max-width: 767px) {
  #lawfirm-results .content {
    padding: 50px 0;
  }

  #lawfirm-results .header-container,
  #lawfirm-results .clients-container {
    flex-direction: column;
  }

  #lawfirm-results .header-container {
    gap: 30px;
  }

  #lawfirm-results .header-container .header-text {
    max-width: unset;
    font-size: 55px;
  }

  #lawfirm-results .clients-container .client-info-container {
    width: 100%;
  }

  #lawfirm-results .clients-container .client-info-row-link .client-name {
    font-size: 40px;
  }
}

/** Lawfirm-results end **/