/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** athar-hero start **/

#athar-hero {
  --main-color: #fff;
  --secondary-color: #060606;
  --third-color: #303030;
  --fourth-color: #fff;
  background-color: black;
}

#athar-hero {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: var(--secondary-color);
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#athar-hero .container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

#athar-hero .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5rem;
  height: 100%;
  position: relative;
  background-image: url(./hero-img.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

#athar-hero .azer {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

#athar-hero .content-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
}

#athar-hero .content-info .avalaibility-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#athar-hero .content-info .avalaibility-badge .circle {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #31EE33;
}

#athar-hero .content-info .avalaibility-badge .avalaibility-badge-txt {
  color: var(--main-color);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

#athar-hero .content-info .content-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

#athar-hero .content-info .content-heading-txt,
#athar-hero .content-info .content-paragraph-txt {
  color: var(--main-color);
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  max-width: 428px;
}

#athar-hero .content-info .content-paragraph-txt {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  max-width: 376px;
}

#athar-hero .content-info .cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#athar-hero .content-info .cta-btn {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 27px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

#athar-hero .content-info .cta-btn .arrow-hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35px;
  min-height: 35px;
  overflow: hidden;
}

#athar-hero .content-info .cta-btn .arrow-hero-cta img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#athar-hero .content .socials {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

#athar-hero .content .socials .contact {
  width: 200px;
  margin: 0;
  color: var(--main-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.333px;
}

#athar-hero .content .socials .social-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#athar-hero .content .socials .social-card {
  padding: 13px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(133deg, #0C0C0C 51.29%, #727272 287.58%);
  backdrop-filter: blur(4.5px);
}

#athar-hero .content .socials .social-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  #athar-hero .athar-hero-wrapper {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }

  #athar-hero .content,
  #athar-hero .content-info,
  #athar-hero .content .socials {
    align-items: center;
  }

  #athar-hero .content .socials {
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
  }

  #athar-hero .content .socials .contact {
    text-align: center;
  }

  #athar-hero .content {
    gap: 8rem;
  }

  #athar-hero .content-info .content-txt {
    text-align: center;
  }

  #athar-hero .content-info .cta-wrapper {
    flex-direction: column;
  }

}