/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** lingualearn-faq start **/

#lingualearn-faq {
  --main-color: #1c3533;
  --secondary-color: #F4F1EB;
  --third-color: #FDFBF9;

  --shades-1: #19302e;
  --shades-2: #162a29;
  --shades-3: #142524;
  --shades-4: #11201f;
  --shades-5: #0e1b1a;
  --shades-6: #0b1514;
  --shades-7: #08100f;
  --shades-8: #060b0a;
  --shades-9: #030505;
  --shades-10: #000000;

  --tints-1: #334947;
  --tints-2: #495d5c;
  --tints-3: #607270;
  --tints-4: #778685;
  --tints-5: #8e9a99;
  --tints-6: #a4aead;
  --tints-7: #bbc2c2;
  --tints-8: #d2d7d6;
  --tints-9: #e8ebeb;
  --tints-10: #ffffff;

  background-color: var(--third-color);
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  position: relative;
  box-sizing: border-box;
}

#lingualearn-faq .container {
  padding: 0px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#lingualearn-faq .container .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 90px 10px;
}

#lingualearn-faq .container .content>div {
  width: 47%;
}

#lingualearn-faq .faq-header .faq-title {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  color: var(--shades-10);
}

#lingualearn-faq .faq-header .faq-introduction {
  font-size: 17px;
  line-height: 1.5;
  margin: 30px 0;
  margin: 13px 0 0px;
  color: var(--shades-10);
}

#lingualearn-faq .accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#lingualearn-faq .faq-item {
  transition: .22s;
  padding: 5px;
}

#lingualearn-faq .faq-item:not(:last-of-type) {
  border-bottom: 1px solid #e2e2e2;
}

#lingualearn-faq .accordion-title {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  user-select: none;
}

#lingualearn-faq .accordion-title h3 {
  margin: 0;
  color: var(--shades-10);
  font-size: 19px;
  line-height: 1.5;
  width: 100%;
  padding-left: 30px;
  position: relative;
}

#lingualearn-faq .accordion-title h3 span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

#lingualearn-faq .accordion-title h3 span img {
  transform: rotate(-180deg);
  width: 100%;
  transition: .22s;
}

#lingualearn-faq .faq-item[open] .accordion-title h3 span img {
  transform: rotate(0deg);
}

#lingualearn-faq .faq-item .description {
  color: var(--shades-10);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 0;
  font-size: 17px;
  overflow: hidden;
  transition: padding 0.18s linear, max-height 0.18s linear, opacity 0.3s linear;
  margin: 0;
}

#lingualearn-faq .faq-item[open] .description {
  padding: 0 0 35px;
}

#lingualearn-faq .icon {
  height: 44px;
  width: 44px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transform: rotate(-180deg);
}

#lingualearn-faq .faq-item .icon img {
  transform: rotate(0deg);
  transition: all 0.18s linear;
}

#lingualearn-faq .faq-item[open] .icon img {
  transform: rotate(-180deg);
}

#lingualearn-faq .faq-image-container {
  position: relative;
}

#lingualearn-faq .faq-image-container img {
  position: relative;
  z-index: 1;
  width: 100%;
}

#lingualearn-faq .faq-image-container::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 20px;
  border-radius: 20px;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  #lingualearn-faq .container .content {
    flex-direction: column;
    padding: 90px 35px;
    gap: 83px;
  }

  #lingualearn-faq .container .content>div {
    width: 100%;
  }

  #lingualearn-faq .faq-header .faq-introduction {
    margin: 13px 0;
  }

  #lingualearn-faq .faq-image-container::before {
    left: -10px;
    top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #lingualearn-faq .container .content {
    padding: 90px 0px;
  }
}

/** lingualearn-faq end **/