/** css rules start **/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/** css rules end **/

/** saasagency-stats start **/

#saasagency-stats {
  --main-color: #6140ef;

  --shades-1: #573ad7;
  --shades-2: #4e33bf;
  --shades-3: #442da7;
  --shades-4: #3a268f;
  --shades-5: #312078;
  --shades-6: #271a60;
  --shades-7: #1d1348;
  --shades-8: #130d30;
  --shades-9: #0a0618;
  --shades-10: #000000;

  --tints-1: #7153f1;
  --tints-2: #8166f2;
  --tints-3: #9079f4;
  --tints-4: #a08cf5;
  --tints-5: #b0a0f7;
  --tints-6: #c0b3f9;
  --tints-7: #d0c6fa;
  --tints-8: #dfd9fc;
  --tints-9: #efecfd;
  --tints-10: #ffffff;

  --secondary-color: #77ff77;
  --third-color: #04050a;
  --fourth-color: #15151d;

  font-family: "Cairo", sans-serif;
  background-color: var(--third-color);
  color: var(--tints-10);
  padding: 80px 0 50px;
}

#saasagency-stats .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#saasagency-stats .content {
  background-image: url(./wavy-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-color: #0c0d12;
  border: 1px solid #f5f5f521;
  border-radius: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px 50px;
  width: 100%;
  box-sizing: border-box;
}

#saasagency-stats .content .stat-item {
  padding: 14px 0;
  text-align: center;
  width: 100%;
}

#saasagency-stats .content .stat-item .number-title {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

#saasagency-stats .content .stat-item .description-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

#saasagency-stats .content .stat-item:not(:last-of-type) {
  border-left: 1px solid #ffffff4a;
}

@media screen and (max-width: 767px) {
  #saasagency-stats {
    padding: 65px 12px;
  }

  #saasagency-stats .content {
    grid-template-columns: 1fr;
  }

  #saasagency-stats .content .stat-item {
    padding: 23px 0;
  }

  #saasagency-stats .content .stat-item:not(:last-of-type) {
    border-left: none;
  }
}

/** saasagency-stats end **/