/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** athar-why start **/

#athar-why {
  --main-color: #fff;
  --secondary-color: #060606;
  --third-color: #303030;
  --fourth-color: #fff;
}

#athar-why {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
  background-color: var(--secondary-color);
  padding: 50px 0;
}

#athar-why .container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}

#athar-why .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

#athar-why .section-heading-txt {
  color: var(--fourth-color);
  margin: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

#athar-why .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  width: 100%;
}

#athar-why .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(104deg, #2B2B2B -54.54%, #151515 98.18%);
}

#athar-why .cards .card .icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E2E2E;
  padding: 18px;
  box-sizing: border-box;
  border-radius: 22px;
  overflow: hidden;
  position: relative;
}

#athar-why .cards .card .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#athar-why .cards .card .card-paragraph {
  color: var(--fourth-color);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}

#athar-why .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

#athar-why .cta .cta-btn {
  padding: 20px 70px;
  border-radius: 47px;
  background: var(--fourth-color);
  color: var(--secondary-color);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

#athar-why .cta .cta-scarcity {
  color: var(--fourth-color);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  #athar-why .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  #athar-why .cards {
    grid-template-columns: 1fr;
  }
}

/** athar-why end **/
