/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** amanmali-footer start **/

#amanmali-footer {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  padding: 95px 0px 45px;
  box-sizing: border-box;
  direction: rtl;
  color: var(--tints-10);
  background-color: #ECF6FF;
}

#amanmali-footer .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-footer .container .content {
  margin: 0 10px;
  padding: 100px 54px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: var(--third-color);
  border-radius: 35px;
}

#amanmali-footer .container .content .form-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 54px;
  width: 100%;
}

#amanmali-footer .container .content .form-body .newsletter-icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#amanmali-footer .container .content .form-body .newsletter-icon img {
  width: 100%;
  object-fit: contain;
}

#amanmali-footer .container .content .form-body .form-info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  max-width: 436px;
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading {
  font-size: 47px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: var(--tints-10);
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate .description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #8FA4B4;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content {
  max-width: 476px;
  width: 476px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-caption {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  width: 100%;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .email-label {
  flex-grow: 1;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali input[type="email"] {
  background-color: #143349;
  color: var(--tints-10);
  border: 1px solid #001E33;
  padding: 20px 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 44px;
  width: 100%;
  box-sizing: border-box;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali button[type="submit"] {
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: none;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #8FA4B4;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-text a {
  color: var(--tints-10);
}

#amanmali-footer .container .content .divider {
  width: 100%;
  height: 2px;
  background-color: #FFFFFF1C;
}

#amanmali-footer .container .content .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#amanmali-footer .container .content .footer-content .logo-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

#amanmali-footer .container .content .footer-content .logo-info .logo {
  width: 179px;
  height: 44px;
  overflow: hidden;
}

#amanmali-footer .container .content .footer-content .logo-info .logo img {
  width: 100%;
  object-fit: contain;
}

#amanmali-footer .container .content .footer-content .logo-info .slogan {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #8FA4B4;
}

#amanmali-footer .container .content .footer-content .quick-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 40px;
}

#amanmali-footer .container .content .footer-content .quick-links ul.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

#amanmali-footer .container .content .footer-content .quick-links ul.menu a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.33s ease;
  color: var(--tints-10);
}

#amanmali-footer .container .content .footer-content .quick-links .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#amanmali-footer .container .content .footer-content .quick-links .socials>a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--tints-10);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#amanmali-footer .container .content .footer-content .quick-links .socials>a img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  #amanmali-footer .container .content {
    margin: 0 35px;
  }

  #amanmali-footer .container .content .form-body {
    align-items: center;
    max-width: 491px;
    margin: 0 auto;
  }

  #amanmali-footer .container .content .form-body .form-info-content {
    flex-direction: column;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content {
    width: 100%;
    max-width: unset;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading,
  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .description,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-container {
    width: 100%;
    text-align: center;
  }

  #amanmali-footer .container .content .footer-content {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  #amanmali-footer .container .content .footer-content .logo-info {
    align-items: center;
  }

  #amanmali-footer .container .content .footer-content .quick-links .socials {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  #amanmali-footer .container .content {
    margin: 0;
    padding: 40px 15px;
  }

  #amanmali-footer .container .content .form-body {
    margin: 0;
    width: 100%;
    max-width: unset;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading {
    font-size: 35px;
  }

  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali {
    flex-direction: column;
  }

  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-caption,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .email-label,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .submit-btn,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali button[type="submit"] {
    width: 100%;
    text-align: center;
  }

  #amanmali-footer .container .content .footer-content .quick-links ul.menu {
    gap: 30px;
  }
}

/** amanmali-footer end **/