/** css rules start **/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/** css rules end **/

/** amanmali-faq start **/

#amanmali-faq {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  background-color: #ECF6FF;
  padding: 120px 0px 80px;
  box-sizing: border-box;
  direction: rtl;
}

#amanmali-faq .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-faq .container .content {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 65px;
}

#amanmali-faq .faq-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

#amanmali-faq .faq-header .faq-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  max-width: 452px;
  color: var(--third-color);
}

#amanmali-faq .faq-header .cta-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#amanmali-faq .faq-header .know-us {
  border-radius: 10px;
  color: var(--tints-10);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 20px 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#amanmali-faq .accordion {
  width: 590px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
}

#amanmali-faq .accordion details {
  border: 1px solid #f5f5f521;
  background-color: var(--tints-10);
  border-radius: 13px;
  user-select: none;
  padding: 28px 33px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

#amanmali-faq .accordion details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  font-size: 19px;
  cursor: pointer;
  transition: 0.18s;
  position: relative;
  width: 100%;
}

#amanmali-faq .accordion details summary .text {
  padding-left: 20px;
}

#amanmali-faq .accordion details summary .text::before {
  content: "";
  background-image: url(./faq-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%) rotate(0deg);
  width: 14px;
  height: 15px;
  transition: all 0.18s linear;
}

#amanmali-faq .accordion details[open] summary .text::before {
  transform: translateX(-100%) rotate(-180deg);
}

#amanmali-faq .accordion details[open] summary {
  margin-bottom: 10px;
  width: 100%;
}

#amanmali-faq .accordion details summary .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  position: relative;
  color: var(--third-color);
}

#amanmali-faq .accordion details summary .icon {
  padding: 0;
  cursor: default;
  border: none;
  background-color: transparent;
}

#amanmali-faq .accordion details summary .icon img {
  transform: rotate(0deg);
  transition: all 0.18s linear;
}

#amanmali-faq .accordion details[open] summary .icon img {
  transform: rotate(-180deg);
}

#amanmali-faq .accordion details .description {
  line-height: 28px;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #E2E2E2;
  color: var(--third-color);
}

@media screen and (max-width: 1024px) {
  #amanmali-faq .container .content {
    padding: 0 35px;
    flex-direction: column;
  }

  #amanmali-faq .faq-header,
  #amanmali-faq .accordion,
  #amanmali-faq .faq-header .faq-title {
    width: 100%;
  }

  #amanmali-faq .faq-header .faq-title {
    max-width: unset;
  }
}

@media only screen and (max-width: 767px) {
  #amanmali-faq {
    padding: 85px 0px;
  }

  #amanmali-faq .container .content {
    padding: 0;
  }

  #amanmali-faq .accordion {
    width: 100%;
  }

  #amanmali-faq .accordion details summary .text #amanmali-faq .accordion details summary .text::before {
    transform: translateX(-100%) rotate(0deg);
  }

  #amanmali-faq .accordion details[open] summary .text::before {
    transform: translateX(-100%) rotate(-180deg);
  }
}

/** amanmali-faq end **/

/** amanmali-footer start **/

#amanmali-footer {
  --main-color: #0085f2;

  --shades-1: #0078da;
  --shades-2: #006ac2;
  --shades-3: #005da9;
  --shades-4: #005091;
  --shades-5: #004379;
  --shades-6: #003561;
  --shades-7: #002849;
  --shades-8: #001b30;
  --shades-9: #000d18;
  --shades-10: #000000;

  --tints-1: #1a91f3;
  --tints-2: #339df5;
  --tints-3: #4daaf6;
  --tints-4: #66b6f7;
  --tints-5: #80c2f9;
  --tints-6: #99cefa;
  --tints-7: #b3dafb;
  --tints-8: #cce7fc;
  --tints-9: #e6f3fe;
  --tints-10: #ffffff;

  --secondary-color: #ECF6FF;
  --third-color: #001E33;
  font-family: "Almarai", sans-serif;
  padding: 95px 0px 45px;
  box-sizing: border-box;
  direction: rtl;
  color: var(--tints-10);
  background-color: #ECF6FF;
}

#amanmali-footer .container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#amanmali-footer .container .content {
  margin: 0 10px;
  padding: 100px 54px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: var(--third-color);
  border-radius: 35px;
}

#amanmali-footer .container .content .form-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 54px;
  width: 100%;
}

#amanmali-footer .container .content .form-body .newsletter-icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#amanmali-footer .container .content .form-body .newsletter-icon img {
  width: 100%;
  object-fit: contain;
}

#amanmali-footer .container .content .form-body .form-info-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  max-width: 436px;
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading {
  font-size: 47px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: var(--tints-10);
}

#amanmali-footer .container .content .form-body .form-info-content .stayup-todate .description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #8FA4B4;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content {
  max-width: 476px;
  width: 476px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-caption {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  width: 100%;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .email-label {
  flex-grow: 1;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali input[type="email"] {
  background-color: #143349;
  border: 1px solid #001E33;
  padding: 20px 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 44px;
  width: 100%;
  box-sizing: border-box;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali button[type="submit"] {
  background-color: var(--main-color);
  color: var(--third-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: none;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #8FA4B4;
}

#amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-text a {
  color: var(--tints-10);
}

#amanmali-footer .container .content .divider {
  width: 100%;
  height: 2px;
  background-color: #FFFFFF1C;
}

#amanmali-footer .container .content .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#amanmali-footer .container .content .footer-content .logo-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

#amanmali-footer .container .content .footer-content .logo-info .logo {
  width: 179px;
  height: 44px;
  overflow: hidden;
}

#amanmali-footer .container .content .footer-content .logo-info .logo img {
  width: 100%;
  object-fit: contain;
}

#amanmali-footer .container .content .footer-content .logo-info .slogan {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #8FA4B4;
}

#amanmali-footer .container .content .footer-content .quick-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 40px;
}

#amanmali-footer .container .content .footer-content .quick-links ul.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

#amanmali-footer .container .content .footer-content .quick-links ul.menu a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.33s ease;
  color: var(--tints-10);
}

#amanmali-footer .container .content .footer-content .quick-links .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

#amanmali-footer .container .content .footer-content .quick-links .socials>a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--tints-10);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#amanmali-footer .container .content .footer-content .quick-links .socials>a img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  #amanmali-footer .container .content {
    margin: 0 35px;
  }

  #amanmali-footer .container .content .form-body {
    align-items: center;
    max-width: 491px;
    margin: 0 auto;
  }

  #amanmali-footer .container .content .form-body .form-info-content {
    flex-direction: column;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content {
    width: 100%;
    max-width: unset;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading,
  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .description,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .disclamer-container {
    width: 100%;
    text-align: center;
  }

  #amanmali-footer .container .content .footer-content {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  #amanmali-footer .container .content .footer-content .logo-info {
    align-items: center;
  }

  #amanmali-footer .container .content .footer-content .quick-links .socials {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  #amanmali-footer .container .content {
    margin: 0;
    padding: 40px 15px;
  }

  #amanmali-footer .container .content .form-body {
    margin: 0;
    width: 100%;
    max-width: unset;
  }

  #amanmali-footer .container .content .form-body .form-info-content .stayup-todate .heading {
    font-size: 35px;
  }

  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali {
    flex-direction: column;
  }

  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-caption,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .email-label,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali .submit-btn,
  #amanmali-footer .container .content .form-body .form-info-content .form-paragraph-content .form-amanmali button[type="submit"] {
    width: 100%;
    text-align: center;
  }

  #amanmali-footer .container .content .footer-content .quick-links ul.menu {
    gap: 30px;
  }
}

/** amanmali-footer end **/