/** css rules start **/
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--third-color);
  color: var(--tints-10);
}

/** css rules end **/

/** freshbites-hero start **/
#freshbites-hero {
  --main-color: #189d58;

  --tints-1: #2fa769;
  --tints-2: #46b179;
  --tints-3: #5dba8a;
  --tints-4: #74c49b;
  --tints-5: #8cceac;
  --tints-6: #a3d8bc;
  --tints-7: #bae2cd;
  --tints-8: #d1ebde;
  --tints-9: #e8f5ee;
  --tints-10: #ffffff;

  --shades-1: #168d4f;
  --shades-2: #137e46;
  --shades-3: #116e3e;
  --shades-4: #0e5e35;
  --shades-5: #0c4f2c;
  --shades-6: #0a3f23;
  --shades-7: #072f1a;
  --shades-8: #051f12;
  --shades-9: #021009;
  --shades-10: #000000;

  --secondary-color: #024c2f;
  --third-color: #95cb42;
  --fourth-color: #fafafa;
}

#freshbites-hero {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "Almarai", sans-serif;
  background-color: var(--fourth-color);
  color: var(--shades-7);
  overflow: hidden;
}

#freshbites-hero .container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  min-height: calc(100vh);
}

#freshbites-hero .content {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: auto;
}

#freshbites-hero .text {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#freshbites-hero .text h1 {
  margin: 0 0 20px;
  font-size: 60px;
  line-height: 1.5;
}

#freshbites-hero .text p {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
}

#freshbites-hero .action-container {
  display: flex;
  margin-top: 30px;
}

#freshbites-hero .cta-btn {
  cursor: pointer;
  border: 0;
  background-color: var(--main-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  height: 60px;
  min-width: 230px;
  color: var(--fourth-color);
}

#freshbites-hero .cta-btn[data-active_hover] {
  transition: background-color 0.26s ease-in-out;
  background-color: var(--third-color) !important;
}

#freshbites-hero .image-wrapper {
  max-height: 100vh;
  min-width: 450px;
  overflow: hidden;
}

#freshbites-hero .image-wrapper img {
  width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  #freshbites-hero .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    padding: 30px 0;
  }

  #freshbites-hero .text {
    text-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  #freshbites-hero .content {
    flex-direction: column;
  }

  #freshbites-hero .text h1 {
    font-size: 39px;
  }

  #freshbites-hero .text p {
    font-size: 16px;
  }

  #freshbites-hero .cta-btn {
    font-size: 16px;
    height: 50px;
    width: 190px;
  }

  #freshbites-hero .image-wrapper {
    min-width: 250px;
  }
}

@media only screen and (max-width: 375px) {}

/** freshbites-hero end **/